[2016-07-18 11:44] sorpaas opened #6 "servo-rust build failed"
In my computer servo rust results in the error below.

[code]

I'm using Nix 1.11.2 and nixpkgs on master.

[2016-07-18 11:54] sorpaas commented on #6
I need to change sourceRoot to

[code]

to make it pass that stage. But probably I should read the version information from the json file...

[2016-08-09 10:42] knedlsepp opened #7 "TODO: pin to specific (working) nixpkgs revision"
As this is already on your TODO list, I think this is an appropriate place to ask.
Actually I would mainly be interested in this, because I can't make your example work:
https://garbas.si/2015/reproducible-development-environments.html

[2016-08-09 11:28] knedlsepp commented on #7
Finally got it working. I don't know if there is something wrong with my nix installation or there were simply some braces missing from your blog post, but the following works for me:
[code]
Whereas the original solution does **not:**
[code]

I don't know enough `nix`, but wouldn't something like the following be great to have? Can't we add such behaviour to `import` itself?

[code]

[2016-08-09 12:00] knedlsepp commented on #7
Hm. The part where we set the nix path is still does not work with this solution:
[code]

[2016-08-09 12:32] knedlsepp commented on #7
Ok. Finally got something working:
[code]

[2016-08-10 12:57] zimbatm commented on #7
Looks right to me. I don't know if we can reduce this further.

My only suggestion would be to name it `mozpkgs` or anything else than `nixpkgs` since that term is already referencing the nixos/nixpkgs repo.

[2016-11-01 15:26] nbp commented on #6
cc @garbas @zimbatm , any ideas?

[2016-11-01 17:28] zimbatm commented on #6
I remember hitting that issue but just hard-coded that. I think the unpack dir depends on the fetcher's derivation name.

[2016-11-01 21:53] garbas commented on #6
also serve expression is still a work in progress (since last london all hands)

[2017-03-06 07:53] Havvy opened #11 "Document How to Use Repo"
E.g. with examples of installation of the repo (is there a canonical channel somewhere?) and installing individual things out of the repo.

[2017-03-12 12:05] zimbatm commented on #11
I just added some doc in #12 if you want to try it out

[2017-03-13 12:26] #11 closed

[2017-03-13 12:27] garbas commented on #11
tnx @Havvy  for pointing out and @zimbatm for writing the documentation!

[2017-03-16 20:46] solson opened #15 "Combine efforts with rust-nightly-nix"
I haven't looked into the details yet, but it's likely that we are dealing with the same problems. I made an issue over at https://github.com/solson/rust-nightly-nix/issues/21.

[2017-03-16 21:19] Havvy commented on #15
I think merging in rust-nightly-nix into nixpkgs-mozilla is the direction we should be going for.

[2017-03-21 01:08] garbas commented on #15
💯 from my side, @solson would you be able to provide a PR then @nbp as current author of rust overlay (we don't want to break nobodies workflow).

Of-course you'll get a push permission with merged PR :)

And this reminds me: I need to setup binary cache for this repo.

[2017-03-21 16:11] Ericson2314 commented on #15
Well, it's not yet clear to me at least what parts form each we want :). But yes PR in the end would be good.

[2017-03-21 16:18] bkchr opened #16 "Using rustc --print sysroot"
First thanks for the awesome overlay!
I installed rust and rust-src from the stable channel.
Now I wanted to use "rustc --print sysroot", but both packages are installed into different directories, so that is not working. Do you have any ideas how I could accomplish this? Or is there a way to export the rust-src path as env variable?

[2017-03-21 17:23] zimbatm commented on #16
It's not clear to me, what is the use-case?

[2017-03-21 17:30] bkchr commented on #16
Some programs need to get the path to the rust-src and use rustc --print sysroot to construct this path.

[2017-03-22 02:09] garbas commented on #15
should we organize a quick google hangout to discuss how to move forward with this? ping to @solson @Ericson2314 @Havvy @nbp

[2017-03-22 03:25] Havvy commented on #15
Most of us on the nix-nightly-rust side hang out in the Rust IRC channels (and #nixos on Freenode).

[2017-03-22 05:38] Ericson2314 commented on #15
I could do either, but I will be on vacation for about a week starting Thursday.

[2017-03-22 14:39] bkchr commented on #16
As far as I understand, installing the package rustChannels.stable.rust should install everything in on package? But if I install this package and try to search for the rust-src, I can not find anything :(

[2017-03-22 18:48] nbp commented on #15
@Havvy wrote:

I carefully did not look too much into @solson work, because of the licensing issue.

Instead, I reversed engineered rustup and annotated the code of the the rust-overlay to take rustup as the only source of truth.

I also think this repository should be using MIT instead of the MPL, such that we can at least contribute back to Nixpkgs.

@Havvy wrote:

You can find me on both freeno

[2017-03-22 19:03] nbp commented on #15
Looking at the differences:
 - The rust overlay uses the manifest v2 like rustup, instead of the manifest v1 (deprecated?).
 - Binaries are patched by finding them, instead of listing them.
 - Uses the install script provided in the tarball instead of using rsync.
 - Provides "stable", "beta", and "nightly" like rustup, instead of only "nightly" builds.
 - The rust overlay has no equivalent to  ru

[2017-03-22 19:31] zimbatm commented on #15
What's the story around cross-compilation, does either support it?

[2017-03-22 19:36] nbp commented on #15
@zimbatm , I was discussing that with @Havvy on #nixos irc.mozilla.org, and the manifest file explicitly list all rust-std targets as being inside the `rust` package, such as `wasm32-unknown-emscripten` and `x86_64-unknown-linux-musl`.

So I have not tested it, but I am confident it should work out of the box.

[2017-03-22 19:37] Havvy commented on #15
With rust-nightly-nix, you need to use rustc-with-sysroots and list which cross-compilation targets you want to support. I have actually done this, so I know it works.

[2017-03-22 19:44] Havvy opened #17 "Reconsider Licensing"

[2017-03-22 19:46] Havvy commented on #17
Right now mozilla/nixpkgs-mozilla is MPL licensed. As this is Mozilla code, there's not a problem with that. But nixpkgs code is traditionally MIT and Rust code is traditionally MIT/Apache dual-licensed. If we want this code to somehow benefit nixpkgs in the future, we'll want it licensed under MIT, and if we want it possibly benefiting Rustup in the future (should they decide to support Nix) we'l

[2017-03-22 21:44] zimbatm commented on #17
Given that MIT is the most permissive license it's enough to just use MIT I think. I don't think it's possible to re-license Apache to MIT because of the patent restrictions but the other way around should be fine.

[2017-03-27 23:20] garbas commented on #17
💯 I guess I selected MPL just out of habit for every Mozilla project 😄

[2017-03-27 23:27] #17 closed

[2017-03-28 09:45] zimbatm commented on #17
Just in case, I agree to license all my contributions under the MIT

[2017-03-28 12:13] garbas commented on #17
@zimbatm sorry I should have asked.

I understood your comment above as 👍 to a change. I hope I also understood @nbp's comment as thumbs up for license change.

[2017-03-28 12:40] zimbatm commented on #17
tldr; yeah no worries, my comment is intended for lawyers :D

I always assume my contributions are licensed under the same terms as the project's license. I believe this should be the industry standard instead of making contributors sign CLAs. The project owners (or anybody else) can re-license the code under a more restrictive version without asking me as it's allowed by the original license. If

[2017-04-05 12:39] nbp commented on #16
This is now fixed by #18 by overriding the `extensions` argument of the derivation with the list of extensions that you want to install, as follow:

[code]

[2017-04-05 12:39] #16 closed

[2017-04-06 17:45] steveej opened #19 "rust-overlay: meta pkg "rust" doesn't provide a (combined) source directory"
I'm trying to use this overlay to set up a rust development environment which relies on `racer complete` to work.
_racer_ honors the `RUST_SRC_PATH` environment variable, and I'm currently looking for the appropriate path to set here. AFAIU the directory at this path should contain the rust source as well as the stdlib source, and I was hoping for the _rust_ package to provide this.

In the follow

[2017-04-06 18:39] steveeJ opened #20 "rust-overlay: make it work as a drop-in replacement for nixpkgs' rustPlatform"
The easiest way to use the overlay would be if one could just override the whole _rustPlatform_ derivation, so that rust programs within nixpkgs will automatically make use the overlay.

I stumbled upon this when debugging why racer doesn't use a given `RUST_SRC_PATH`, finding that the wrapper overrides it from the rustPlatform's rust sources: https://github.com/NixOS/nixpkgs/blob/eb9f76911f1fee6e

[2017-04-07 14:35] matthiasbeyer opened #21 "{stable, beta, nightly} do not find "std"/"core""
When I use the overlay to get rustc/cargo, it cannot find "std" / "core":

[code]

# NixOS

* System: 17.09pre104652.08c87ee (Hummingbird)
* Nix version: nix-env (Nix) 1.11.8
* Nixpkgs version: "17.09pre105060.0a6a06346a"

[2017-04-07 14:42] Ericson2314 commented on #20
I think some parts of this / rust-nightly-nix can be upstreamed to nixpkgs, which is a) good in general, and b) make this easier.

[2017-04-08 06:14] tripokey opened #22 "rust-overlay: could not exec the linker `cc`"
System information:
NixOS 17.03 x86_64
nixpkgs-mozilla rust-overlay from commit 4779fb7776c3d38d78b5ebcee62165e6d1350f74

Scenario:
1. nix-shell -p rustChannels.stable.rust
2. cargo new --bin hello
3. cd hello; cargo build --verbose

Error:
[code]

[2017-04-08 14:53] the-kenny commented on #21
Saw the same issue when I imported `rustChannels.stable.rustc` instead of `rustChannels.stable.rust`. Using the latter works fine here (although I see this as a source of confusion)

[2017-04-08 14:58] matthiasbeyer commented on #21
Works now. Thanks!

[2017-04-08 14:58] #21 closed

[2017-04-09 07:14] tripokey commented on #22
Workaround:
Manually install gcc

[2017-04-10 07:26] bkchr commented on #19
Hi, here is my default.nix for rust with rust-src:
`with import <nixpkgs> {};

let
  myrust = (rustChannels.stable.rust.override { extensions = [ "rust-src" ]; });
in
stdenv.mkDerivation {
  name = "rust-dev";
  buildInputs = [ myrust rustracer ];
  RUST_SRC_PATH= "${myrust}/lib/rustlib/src";
}
`
And at least in emacs racer works with this path :)

[2017-04-10 07:35] steveeJ opened #23 "rust-overlay: rust-src installation errors on travis"
For reasons I don't understand yet there is a problem with escaping during the installation of rust-src.
The error is:

[code]

I have started a debug session on travis and have looked for the file:

[code]

The file contains a weird suffix ` space`, and somehow this confuses the installer, but only in the environment on travis, as it works locally for me and others.

[2017-04-10 08:04] steveeJ commented on #19
@bkchr
Your expressions almost works for me. I need to use `RUST_SRC_PATH= "${myrust}/lib/rustlib/src/rust/src";`. Otherwise racer doesn't find the sources, tested with `$ racer complete "std::process"`. I'm wondering how it works for you, as I also can't find a recursive option or something alike on racer.

However, all there is to do is to document the _extension_ attribute somehwere obvious 🤓

[2017-04-10 09:02] bkchr commented on #19
Yeah you are right, the path was wrong :/
Thx for that^^

Yeah, that should be documented ^^

[2017-04-10 13:45] steveeJ commented on #23
Narrowing it down, this is the relevant part from _install.sh_ after `set -x`. It shows that the `$_file` does not contain the full path, which will lead to an error later in the script. I'm

[code]

The shell installed at `/bin/sh` on travis is dash, and the _install.sh_ uses the header `#!/bin/sh`. If I manually edit this within a debug session on travis and have it call `#!/usr/bin/env bash` in

[2017-04-17 16:15] #23 closed

[2017-04-18 14:16] steveeJ commented on #19
@garbas @nbp Please assign this issue to me. I'll file a documentation PR eventually.

[2017-04-18 21:07] nbp commented on #19
@steveeJ Thanks for your help.

[2017-04-19 14:56] Ericson2314 opened #26 "Use {build,host}Platform.config"
[code]
should no longer be needed. But extra messaging in `lib/systems/parse.nix` might be necessary first.

See the nixpkgs-unstable manual.

[2017-04-19 20:35] Havvy opened #27 "rust-overlay - Install other std targets"
Currently the overlay only installs the `rust-std` for the target you are building on/(for?). Should either download all targets by default or let us pass in a parameter to choose additional targets to install.

Sidenote: This is blocking my ability to use the rust-overlay to compile to WASM.

[2017-04-22 11:04] nbp commented on #26
Let's wait for the next release before moving to newly added feature of Nixpkgs.
Closing for the moment.

[2017-04-22 11:04] #26 closed

[2017-05-12 04:17] rimmington opened #32 "rust-overlay: "error while loading shared libraries" on armv7"
I'm running Nix on Raspbian and having some difficulties. The `rust` derivation from the overlay builds fine, but attempting to use the resulting executables from the shell or via `buildRustPackage` fails:

[code]

Since the issue seemed to be the dynamic linker name, I tried adding another `patchelf` call to the `installPhase`:

[code]

Unfortunately, now I get a new error:

[code]

A bit of poki

[2017-05-12 05:45] rimmington commented on #32
It looks like the actual issue might be that the host triple for `armv7l-linux` is set to `arm-unknown-linux-gnueabi` when I think it should be `armv7-unknown-linux-gnueabihf`; changing this got rustc/cargo to run. I'm still testing things (now the `kernel32-sys` crate isn't building), but if all goes well I'll open a PR.

[2017-05-14 06:18] sheganinans opened #33 "Out of Memory"
On MacOSX.

[code]

[2017-05-16 16:28] nbp commented on #33
@sheganinans How much memory do you have?
Increase the value at this line https://github.com/mozilla/nixpkgs-mozilla/blob/master/lib/parseTOML.nix#L20 until you no longer see this error message.

This would make the parser slower, because it would have to iterate multiple times with a smaller pattern, but it will fit in memory.

[2017-05-16 16:31] #32 closed

[2017-05-16 16:33] nbp commented on #27
This would be fixed by #24.

[2017-05-16 17:15] nbp commented on #22
You can work-around also by doing:

[code]

[2017-05-16 17:33] nbp commented on #22
I opened an issue against nix-shell to make hide this implementation detail: https://github.com/NixOS/nix/issues/1388
I will see if I can give it a try.

[2017-05-16 20:26] Ericson2314 commented on #26
That makes sense. My intent here however was right now little is using that new interface, so it might be a good idea to stress it before the next release :). Maybe I should make a long-running PR to be merged then?

[2017-05-17 01:24] sheganinans commented on #33
I've got 16GB. I'll give it a try...

[2017-05-17 01:51] sheganinans commented on #33
Alright, this seemed to have worked! Thanks!

[2017-05-17 01:51] #33 closed

[2017-05-19 09:28] steveeJ opened #35 "rust-overlay: it should be easy to pin the nightly channel to a date"
Currently this is possible via:
[code]

The line that is commented out is possible with the referencing PR.

[2017-05-20 03:04] Ralith opened #37 "rust-overlay: nightly 2017-05-19 tries to write to /etc"
The build fails with `mkdir: cannot create directory '/etc/bash_completion.d': Permission denied`

[2017-05-26 11:57] steveeJ commented on #37
We have two options here:
* remove them from the source before installing
* install them to `$out/share/bash-completion/completions`

[2017-05-26 15:05] zimbatm commented on #37
(2) is the right answer. Upstream should be fixed to respect the destdir on install. They will want to support that on normal Linuxes as well.

[2017-05-29 09:57] nbp commented on #37
This issue seem to be coming from https://github.com/rust-lang/rust-installer/pull/59
I guess the problem seems to be that --prefix is not considered for the default value of --sysconfigdir, in the mean time I guess we could provided it as argument of the install script.

[2017-05-29 09:59] nbp commented on #37
And is a duplicate of https://github.com/rust-lang/rust/issues/42102 fixed by https://github.com/rust-lang/rust/pull/42124

[2017-05-29 09:59] #37 closed

[2017-06-28 14:49] steveeJ commented on #35
Fixed by #39

[2017-06-28 14:49] #35 closed

[2017-06-30 04:36] rimmington opened #40 "parseTOML regex too large for Nix 1.12"
After upgrading Hydra, Rust imported from the overlay failed to build with an "invalid regular expression" error in Hydra. After a lot of hunting, it turns out there's a size limit in `std::regex` (`_GLIBCXX_REGEX_STATE_LIMIT`), which the `parseTOML` regex seems to exceed. Hydra only builds with `nixUnstable`, currently Nix 1.12pre, where there [was a change in the regex type](https://github.com/N

[2017-07-16 09:03] nagisa opened #46 "Make this an overlay"
It would be way easier to use system-wide (and per-user) if one could simply do a `nix-channel --add https://banana.peach/nixpkgs-mozilla`.

[2017-07-17 16:18] aepsil0n opened #48 "Rust overlay: cannot find bash completion files"
Ran into this issue trying to use the Rust overlay on top of the NixOS unstable branch.

[code]

So I commented out the call to `handleEtc` in the `postFixup` script. Any idea why this may not be there?

[2017-07-17 17:06] aepsil0n commented on #48
It turns out the directory is actually called `bash_completions.d` (note the plural). I really wonder how the name changed…

[2017-07-18 08:13] rexim commented on #48
Ran into the same problem while trying to install `pkgs.rustChannels.stable.rust (1.18.0)`. `pkgs.rustChannels.nightly.rust (1.20.0)` works perfectly.

[2017-07-18 08:37] rexim commented on #48
After reading the comments of @aepsil0n I made the following changes https://github.com/rexim/nixpkgs-mozilla/commit/466ae2d736ad06288a9745f056253408fdbc5fe8 And now it works on stable but doesn't work on nightly. :)

Maybe we should check for both bash_compeition and bash_completions and take actions according to which one exists?

[2017-07-18 19:37] garbas commented on #48
@rexim 👍 could you create a PR for this? eg. loop over all the folders (``"etc/bash_completion.d","share/bash_completion/completions","etc/bash_completions.d","share/bash_completions/completions";``) and then break out of the loop if ``$paths`` does not exists? eg.

[code]

And maybe add a comment with a link to this issue.

[2017-07-18 20:44] garbas commented on #46
@nagisa It is high on our list to make this repository into [a nixpkgs overlay](http://nixos.org/nixpkgs/manual/#chap-overlays). Currently, we only provide a rust overlay, but all of nixpkgs-mozilla should be an overlay.

Providing a binaries we will just upload them to our (mozilla's) existing nix binary cache -> https://cache.mozilla-releng.net

I hope to find time to do it myself, but I can rev

[2017-07-18 20:52] garbas commented on #27
I'm closing this issue since it will be fixed by #24

[2017-07-18 20:52] #27 closed

[2017-07-19 19:42] rexim commented on #48
@garbas I have a pretty limited amount of resources but I will try to do something in the nearest future. If I don't submit PR in three days, consider me not working on that. :)

[2017-07-21 11:24] aepsil0n commented on #48
Thanks for the PR!

Interestingly, now that Rust 1.19 was released yesterday, the issue magically disappeared. I wonder, whether we should still address the issue, just in case one wants to build an old version at some point?

[2017-07-21 11:48] #48 closed

[2017-07-21 11:49] garbas commented on #48
@aepsil0n I suppose it doesn't hurt if we check for 2 more folders :)
Thank you @rexim for the PR

[2017-07-22 15:32] nbp commented on #40
As far as I know, this cannot be solved in Nix (only) without a using a quadratic algorithm. I opened https://github.com/NixOS/nix/issues/1479 to point at one way to resolve this issue.

[2017-07-26 01:02] joepie91 opened #51 "Xargo does not work with rust-src"
When installing both `rust` and `rust-src` from the rust-overlay (specifically, from the `nightly` channel), after installing Xargo (`cargo install xargo`), it will fail to run:

[code]

An `strace -f` suggests that Xargo is incorrectly looking for the `src` in the main `rust` derivation output, not the `rust-src` output:

[code]

I don't know if this is strictly speaking a problem with the rust-o

[2017-07-26 01:19] jameysharp commented on #51
I've been using this expression:

[code]

More broadly, here's the `shell.nix` I'm using to also get a GCC toolchain for ARM microcontrollers:

[code]

[2017-07-29 12:35] nagisa commented on #46
Can overlays be used with the system-wide configuration?

[2017-07-29 19:03] tjikini commented on #46
You can use `nixpkgs.overlays = [ (import path/to/mozilla/overlay/rust-overlay.nix) ];` in `configuration.nix`

[2017-08-01 02:50] jtojnar opened #53 "Broken fonts in updated Nightly"
Recently I added some fonts to [my configuration.nix](https://gist.github.com/jtojnar/6df2fec4fab19da515c1e3fcdc46662a#file-configuration-nix) and updated Firefox Nightly (using `nix-shell update.nix --argstr maintainer garbas`). After rebuild, Nightly no longer displays text on websites. Alternately, for some fonts, it shows rectangles instead of characters.

![Nightly with garbled text](https://

[2017-08-01 21:00] hedning commented on #53
Having the same issue here. Opened a bug on bugzilla, and it didn't seem to be reproducible in Ubuntu, so it seems to be partly nix related. Buildid `20170725144053` and later are broken for me, while buildid `20170725100346` works.

[2017-08-01 23:09] jtojnar commented on #53
Setting `security.sandbox.content.read_path_whitelist` to `/nix/store/` is a simple workaround for the issue (taken from [bugzilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1385253#c14)).

[2017-08-15 10:17] nbp commented on #46
For your information, I already started working on converting this repository into a proper overlay, but I am facing issues with gecko toolchains that I haven't yet got time to investigate.  I also moved the pinning mechanism to another file than default.nix, as overlays are not pinned to any specific version.

I will try to finish and push it to my repository.

[2017-08-15 11:00] nbp commented on #53
Updating nightly now should fix the issue, as [Bug 1385253](https://bugzilla.mozilla.org/show_bug.cgi?id=1385253) is now closed, by adding the `/nix/store` path to the default set of paths, and that the sandbox got backed out.

Note, that any fonts which are added in the home directory of the users might probably require the same `about:config` trick.

[2017-08-15 14:24] nbp commented on #46
This should be solved by #54 , which amkes the top-level `default.nix` file be a valid overlay.
Thus one can just clone nixpkgs-mozilla under ~/.config/nixpkgs/overlays/nixpkgs-mozilla and be good to go with latest nightly and latest firefox versions.

[2017-08-15 14:26] nbp commented on #27
@Havvy , since #24 is now merged, can you verify if you can use the rust-overlay now?

[2017-08-15 14:32] nbp commented on #53
Note, after merging #54 , `firefox-nightly-bin` will automagically take the latest versions form Mozilla servers. Which implies 2 things. The hashes of your distribution will change every-day even if you pin a specific nixpkgs-mozilla version.

If you want a stable version, you will have to use the manually updated `reproducible.firefox-nightly-bin` attribute.

I personally do not install nightly

[2017-08-15 14:32] nbp commented on #53
Note, after merging #54 , `firefox-nightly-bin` will automagically take the latest version for Mozilla servers. Which implies 2 things. The hashes of your distribution will change every-day even if you pin a specific nixpkgs-mozilla version.

If you want a stable version, you will have to use the manually updated `reproducible.firefox-nightly-bin` attribute.

I personally do not install nightly sy

[2017-08-15 18:40] nbp commented on #40
https://github.com/NixOS/nix/pull/1516 should help solve this issue by removing the hackish pattern generation and make the traversal linear with the file size. In addition this implies that we no longer need large regexp which would remove the memory errors reported by multiple users who do not have enough memory in their VMs.

[2017-08-16 05:57] Havvy commented on #27
Yes. Took a bit of trial to figure out how to get different targets because I forgot what makeOverridable does, and then issues getting emscripten to work, but that was unrelated to Nix stuff, and now I can compile to WASM.

😀 😀 😀

[2017-08-16 12:40] #22 closed

[2017-08-16 16:32] #46 closed

[2017-08-16 18:41] #53 closed

[2017-08-16 18:43] nbp commented on #51
@joepie91 Can you confirm if the solution proposed by @jameysharp works for you?

[2017-08-16 20:32] nbp commented on #15
From what I can tell, the only missing part now seems to be the documentation of the Rust overlay.
Especially how to use it with the existing Nixpkgs infrastructure, and how to use it for cross-compiling.

[2017-08-16 20:55] Havvy commented on #15
That matches my understanding of the situation too.

[2017-08-16 21:31] #40 closed

[2017-08-17 12:30] seppeljordan opened #56 "update.nix broke with overlay conversion"

[2017-08-17 12:33] seppeljordan commented on #56
ping @nbp

[2017-08-17 22:11] nbp commented on #56
I never used any of these scripts, can you detail the issue.
Also @garbas might know more about these update scripts.

[2017-08-17 23:30] garbas commented on #56
@seppeljordan currently this is broken since we need to bring back pinning of the packages. I'll fix update.nix once we get all pinned files in place

[2017-08-23 13:42] ashkitten opened #59 "nix-env broken with overlay"
whenever I try to run nix-env with the repository cloned to `~/.config/nixpkgs/overlays/nixpkgs-mozilla`, I get `error: undefined variable ‘buildRustPackage’ at /nix/store/laam155yi2q97zb62mwxl8xq5fkdxvyv-nixos-17.03.1700.51a83266d1/nixos/pkgs/applications/altcoins/ethabi.nix:5:1`

[2017-08-29 12:31] #59 closed

[2017-09-03 02:42] grahamc opened #65 "Firefox hashes mismatch sometimes"
I get:

output path ‘/nix/store/hc46q7rs43aphmdcf6gyvnwj4msmgldd-firefox-57.0a1.en-US.linux-x86_64.tar.bz2’ has sha512 hash ‘2r8m2k0aw844xd125yqs83qblh645sk0zq9rvmzvv8kjrzkivshzpfv1xg2rlijar819l9k1ics5ifr4acj4f9103dvfpmhqk1fii2f’ when ‘1wrzqadr4k77gpl78v99ijzg5p9j6fsndsr42kxw84dgl22yanyz1md7p3vsf8m2fq93nfs8zksnnm6jj66r92b9qchjz09xfnnaqd3’ was expected

and opened https://bugzilla.mozilla.org/show_

[2017-09-12 03:16] sjmackenzie opened #66 "rust overlay: no such file or directory"
## Expected behaviour:
Rust nightly is downloaded and run without a problem

## Actual behaivour
Rust nightly fails with this error:
[code]
## Steps to reproduce
install rust rightly using this repository.

[2017-09-12 09:07] zimbatm commented on #66
Are you on NixOS?

It looks like the install.sh script needs to be patched to correct the bash path.

[2017-09-12 09:34] sjmackenzie commented on #66
Yes I'm on NixOS.

Has an upstream path changed to break the build, I'm pretty certain it's not me.

[2017-09-12 11:48] rushmorem commented on #66
I'm running into this issue as well. For me, on NixOS `17.09.git.b50193f`, the derivation continues to build just fine but the interpreter is not patched.

[code]

[2017-09-12 11:57] zimbatm commented on #66
I don't have time to look deeply into it so here are some pointers:

There is already an attempt to patch the install script at https://github.com/mozilla/nixpkgs-mozilla/blob/master/rust-overlay.nix#L173, maybe the location of the script has changed?

I would also recommend submitting the change to rust-lang to always use `#!/usr/bin/env bash` for the shebang so we don't have to patch it in the f

[2017-09-12 14:15] sjmackenzie commented on #66
@rushmorem try updating your `rev` to `7e54fb37cd177e6d83e4e2b7d3e3b03bd6de0e0f`. It worked for me. If it works for you I'll close the issue.

[2017-09-12 14:41] rushmorem opened #67 "$NIX_CC/nix-support/dynamic-linker no longer exists"
On NixOS `17.09.git.b50193f` `dynamic-linker` no longer exists in `$NIX_CC/nix-support/` which is breaking some packages. Please see https://github.com/mozilla/nixpkgs-mozilla/issues/66#issuecomment-328828611 for details.

[2017-09-12 15:00] rushmorem commented on #67
Oops! Meant to open this in `nixpkgs`.

[2017-09-12 15:00] #67 closed

[2017-09-12 16:02] rushmorem commented on #66
@sjmackenzie I will, thanks. Also, according to https://github.com/NixOS/nixpkgs/issues/29278#issuecomment-328888979 that should work so feel free to close.

[2017-09-12 16:13] #66 closed

[2017-09-28 19:25] sdemos opened #68 "firefox-beta-bin is out of date"
I checked out this repo and symlinked `default.nix` to `~/.config/nixpkgs/overlays/mozilla.nix`, but when I run `nix-env -f '<nixpkgs>' -qaP | grep firefox` it says that it's current `firefox-beta-bin` version is `55.0b2` and not 57. It seems like it pulls the version from `https://product-details.mozilla.org/1.0/firefox_versions.json` but when I `curl` that it shows the correct version for `LATES

[2017-09-28 19:30] sdemos commented on #68
I guess either the overlay needs to be updated, or the readme needs to include more information, especially since there doesn't seem to be much readily available documentation on overlays in nix in the first place.

[2017-09-29 08:12] zimbatm commented on #68
The latest builds are hidden under the "latest" prefix. I'm not sure they will appear to the package listing because we don't `recurseIntoAttrs`.

`nix-env -f '<nixpkgs>' -iA latest.firefox-nightly-bin` should do the trick

[2017-09-29 12:33] taktoa commented on #7
You guys may also be interested in [my technique](https://gist.github.com/taktoa/4ec8b0cb6d07857400b07a830ad99558) for fully deterministic bootstrapping of a nixpkgs pin. It makes no assumptions other than that your Nix interpreter implements a superset of the semantics implemented by Nix 1.11.8 (which seems likely to be true into the forseeable future). In the future, when Nix 1.12 comes out, `fe

[2017-10-19 05:53] adelbertc opened #70 "rust-overlay: querying packages results in "parentheses not balanced" error"
This is on macOS Sierra (Darwin), Nix version 1.11.13.

[code]

[2017-11-12 23:49] somlor commented on #70
I'm seeing this same output on (macOS Sierra 10.12.6) after first run of:
[code]

[code]

[2017-11-13 23:38] eqyiel commented on #70
I'm also seeing this on Sierra with Nix 1.11.15.

Sean Omlor <notifications@github.com> writes:

[2017-11-24 16:41] lheckemann opened #72 "Fails to evaluate on nixUnstable"
[code]

It works fine on nix 1.11.x.

[2017-11-28 12:18] garbas commented on #72
@nbp is this related to the different regex implementation for this 2 nix versions? Do you know of an easy way to get this to work with 1.12?

[2017-11-28 12:21] nbp commented on #72
@lheckemann Have you updated the nixpkgs-mozilla repository? The latest contains 2 versions, one for Nix 1.11, and one for Nix 1.12.  The dispatch is based on the presence of some built-in I added my-self and the later is also more efficient.

[2017-11-29 09:34] lheckemann commented on #72
That did the trick, thanks! Silly me…

[2017-11-29 09:34] #72 closed

[2017-12-06 10:11] roberth opened #73 "How to use this overlay (README)"
It'd be incredibly helpful if the README included just a snippet that shows how you can use this overlay (without running some script). I haven't used it yet, but I have linked here as [an example of an overlay on the unofficial wiki](https://nixos.wiki/wiki/Modifying_a_Package#Create_an_Overlay).

This is a big opportunity for this overlay ;)

[2017-12-14 14:49] caugner opened #74 "Gecko is missing `libstdc++.so.6`"
I built Firefox from `mozilla-central` in a `nix-shell ~/git/nixpkgs-mozilla/release.nix -A gecko.x86_64-linux.gcc --run zsh` using `./mach build`.

When I `./mach run` I get:

[code]

The reason seems to be the missing `libstdc++.so.6`:

[code]

I assume the `libstdc++.so.6.so.6` is provided by `gcc`, but not declared as a dependency in the gecko package.

[2017-12-15 16:11] caugner commented on #74
[code]

[2017-12-15 16:55] caugner commented on #74
To reproduce in a fresh environment:

[code]

[2017-12-15 17:12] caugner commented on #74
@garbas I tried adding `gcc-unwrapped.lib` to `buildInputs` in `pkgs/gecko/default.nix` as well as in `compiler-overlay.nix`, but unfortunately it didn't have any effect. I assume the library has to be available both at build and run time?

[2017-12-17 15:51] nbp commented on #70
It sounds to me that this might be a miss reported OOM error message from libc++.

You can either switch to Nix 1.12 (after updating to the latest version of nixpkgs-mozilla) or try the work-around as suggested in https://github.com/mozilla/nixpkgs-mozilla/issues/33#issuecomment-301837715

[2018-01-01 17:48] #73 closed

[2018-01-24 19:30] ne-sted opened #77 "rust-overlay: prefer xz archives?"
https://github.com/rust-lang-nursery/rustup.rs/pull/1100

[2018-01-25 21:06] nbp commented on #74
@caugner Can you try https://github.com/nbp/nixpkgs-mozilla , which is currently waiting for approval in PR #76 ?
The documentation added in the README is working for me.

[2018-02-08 18:11] efx opened #79 "trying to install rust stable from overlay does not seem to work on macOS"
I followed the install steps on a Linux machine and it worked, but on macOS, I'm seeing this failure when running `nix-env -iA nixpkgs.latest.rustChannels.stable.rust`:
[code]
## system info

[code]
[code]

[2018-02-09 12:39] andir opened #80 "called without required argument 'cargoSha256' while running nox-review"
@nbp: as discussed during FOSDEM here is the issue I tried to describe.

This issue occurs with all PRs that I am testing while the mozilla overlay exists in `.config/nixpkgs/overlays/nixpkgs-mozilla`.

I can use the overlay (outside of the scope of nox) just fine.

[code]

Details about my system:
 - system: `"x86_64-linux"`
 - host os: `Linux 4.15.2, NixOS, 18.03.git.87059c2 (Impala)`
 - multi-u

[2018-02-09 14:27] zimbatm commented on #79
can you try upgrading to nix 1.11.16?

[2018-02-09 15:07] efx commented on #79
sure, haven't found the docs to do this on a multi user install so will have to ask in #nixos later.

[2018-02-09 15:38] zimbatm commented on #79
try: `nix-channel --update && nix-env -u nix`

[2018-02-09 15:48] efx commented on #79
doesn't work unfortunately; I know some things on darwin are a WIP, so I'll dig into it.

[2018-02-18 04:38] probitlabs opened #81 "Wayland Support For Firefox Beta/Nightly"
https://github.com/stransky/gecko-dev claims to be merged to upstream, but native wayland support still doesn't work on `firefox-nightly-bin` (60.0a1); see:

[code]

Any reason for that?

[2018-02-18 07:12] hedning commented on #81
Looks like it isn't enabled in the official builds yet: https://bugzilla.mozilla.org/show_bug.cgi?id=635134#c92

[2018-02-28 01:21] mdedetrich opened #82 "error: linker `cc` not found"
Not sure if this is a duplicate of https://github.com/mozilla/nixpkgs-mozilla/issues/22

When using the stable rust overlay, i.e.

[code]

I get the following error

[code]

It seems like gcc is not really visible to rustc. I tried the variant noted in the other issue i.e. `nix-env -iA nixos.latest.rustChannels.stable.rust -p gcc` and it made no difference.

Here are the details of my nix install

[2018-02-28 08:19] garbas commented on #82
@mdedetrich can you try this with `nix-shell` (not `nix-env`)?

[2018-02-28 08:37] mdedetrich commented on #82
@garbas Same problem, I tried both variants

[2018-02-28 08:43] mdedetrich commented on #82
Ah yes, it works with `nix-shell` however I am not sure how you would then persist the installation of rust using `nix-shell` (sorry I am bit new with nixos and I am figuring it out still)

[2018-02-28 11:17] garbas commented on #82
could you run `code` from within the `nix-shell`? this is how i usually work in certain environments, but i do use vim and not vscode.

[2018-02-28 13:27] mdedetrich commented on #82
True this should work meantime, is there a more permanent solution that doesn't use `nix-shell` or is this just how people are using Rust in nixos for the meantime?

[2018-03-01 08:31] garbas commented on #82
I'm not sure how everybody is using nix but my workflow is exactly like that. i rarely use `nix-env`. mostly i'm just using `nix-shell` to enter the development environment of some project.

the only time i use `nix-env` is when i'm using already released applications (eg firefox) and not for development.

I think this is a shift in thinking how to setup development environment with nix and with o

[2018-03-01 09:46] mdedetrich commented on #82
@garbas I would vouch for keeping this ticket open, not because of your argument where nix-shell should be your desired workflow but because the documented workflow doesn't work. i.e. if you install rust via `nix-env`, the package should work out of the box, regardless of whether `nix-shell` should be the desired workflow (or not)

In any case, I don't know if the statement that you should use `ni

[2018-03-01 11:14] coretemp opened #83 "Inconsistent reported UI version and CLI version"
The UI element of `~/.nix-profile/bin/firefox` shows `58.0.1 (64-bit)`, but `~/.nix-profile/bin/firefox --version` shows  `Mozilla Firefox 58.0.2`.

[2018-03-08 22:31] garbas commented on #83
@coretemp I checked this right now and it displays the same version in either cases (`60.0a1`).

[2018-03-09 14:32] coretemp commented on #83
@garbas How is that possible if no commit was done since Jan 25th?

What are you running to test this? (after doing git pull in a checkout of this repository)
[code]

Please write a script or a nix-expression which actually does everything to run the latest Firefox as you intend to in order to remove unclarity on NixOS.

[2018-03-15 18:04] efx commented on #79
nix 2.0 doesn't have this issue; installed rust ok.

[2018-03-15 18:04] #79 closed

[2018-05-02 18:41] crawford commented on #51
I've successfully used the above solution for a while. It's worth noting that Xargo is no longer required, so now I use the following (installing `rust-std` for `thumbv7m-none-eabi` instead of `rust-src`):

[code]

[2018-05-02 19:45] crawford opened #90 "How should this repo be used as an overlay?"
I've used this repo for a while by installing it into `~/.config/nixpkgs/overlays`, but now I want to migrate to using `~/.config/nixpkgs/overlays.nix` and fetching this repo dynamically.

I tried putting the following in `~/.config/nixpkgs/overlays.nix`:

[code]

When I try to install firefox, I get the following error:

[code]

I also tried putting the following in `~/.config/nixpkgs/overlays.ni

[2018-05-07 00:50] jtojnar commented on #90
I tried the following, which looks promising:

[code]

and it seems to work.

[2018-05-08 18:49] vlaci commented on #90
It works for me too with `firefox-nightly-bin` but not with `firefox-bin` or `firefox-beta-bin`. They all worked prior to upgrading to NixOS 18.03.

[2018-05-08 23:12] crawford commented on #90
Now that I think about it, this stopped working after I moved to NixOS 18.03 as well.

[2018-05-18 03:39] crawford commented on #90
It looks like https://github.com/NixOS/nix/issues/2147 is the root cause.

[2018-05-18 06:10] #51 closed

[2018-05-18 06:13] #83 closed

[2018-05-22 13:57] flosse opened #91 "How to use rust overlay with additional targets?"
In my `/etc/nixos/configuration.nix` I tried

[code]
But I get this error: `attribute 'latest' missing, at /etc/nixos/configuration.nix:14:11`
Where is my fault?

[2018-05-22 20:46] garbas commented on #91
@flosse use `latest.rustChannels.<channel>.rust`, example

[code]

i didn't test this, but it should give you a hint, how to read [rust-overlay.nix](https://github.com/mozilla/nixpkgs-mozilla/blob/master/rust-overlay.nix#L271). please reopen the issue if above solution doesn't solve your problem.

[2018-05-22 21:51] flosse commented on #91
`attribute 'latest' missing, at /etc/nixos/configuration.nix:15:11`

it seems that the overlay was not applied?

[2018-05-22 22:20] flosse commented on #91
Ok now I can build it.
Instead of
[code]
it has to be
[code]
But running a `cargo build --target x86_64-unknown-linux-musl --release` leads to

[code]

[2018-05-23 13:53] rushmorem commented on #91
@flosse Can you compile the default hello world program that comes with `cargo new` for binaries?

[2018-05-23 17:23] flosse commented on #91
yes, that is working :)

I try to compile [openfairdb](https://github.com/flosse/openfairdb) which depends also on `sqlite`, `openssl` etc.

So I tried this:

[code]

[2018-05-23 22:06] rushmorem commented on #91
I noticed that same issue with `rayon-core` v1.4.0 earlier when trying to compile [one of my crates](https://github.com/rethinkdb-rs/reql) for the `musl` target but it went away after `cargo update`. Now it builds fine using the same `nightly` version.

[2018-05-24 00:11] flosse commented on #91
`cargo update` increases the problem, now there is an additional `error: Could not compile 'serde'`

[2018-05-24 09:22] P-E-Meunier opened #92 "rust-overlay: can't compile wasm"
It seems people can compile to wasm fine on many platforms, but this overlay seems to install an outdated version of some component of the toolchain, which produces unusable wasm.

[2018-05-25 17:04] nbp commented on #92
Have you added wasm as a `target`?
https://github.com/mozilla/nixpkgs-mozilla/blob/master/rust-overlay.nix#L142

[2018-05-25 17:14] nbp commented on #90
Thanks @xzfc for investigating this issue. I will try to make a work-around to no longer use `builtins.match`, unless someone else wants to do it before me.

[2018-05-25 18:10] xzfc commented on #90
I have already made that, just need some time to test it and make a PR.

On Sat, May 26, 2018 at 12:14 AM, Nicolas B. Pierron <
notifications@github.com> wrote:

[2018-05-26 05:45] P-E-Meunier commented on #92
Yes, obviously. If you can compile the examples in wasm-bindgen, could you please share a nix expression that achieves it?

[2018-05-26 20:47] flosse commented on #91
I tried several things but still without success :(
Running a virtual machine with Ubuntu is my current workaround but it's quite annoying :-\

[2018-05-28 16:06] #90 closed

[2018-05-29 19:13] flosse commented on #91
Here are the detailed steps to reproduce:

    $ nixos-version
    18.03.132500.2f6440eb09b (Impala)
    $ git clone https://github.com/flosse/openfairdb
    $ cd openfairdb/
    $ nix-shell --pure overlay-dev-env.nix
    $ rustc -V
    rustc 1.28.0-nightly (5bf68db6e 2018-05-28)
    $ cargo clean
    $ cargo build --target x86_64-unknown-linux-musl --release

I used the following `overlay-dev-env

[2018-06-03 08:54] P-E-Meunier commented on #92
Post-RustFest update: after comparing the wasm produced by a non-NixOS machine, this is likely due to a link problem.

[2018-06-04 16:25] crawford opened #95 "[Firefox] Unable to install: no such file or directory"
I'm using Nix `2.0.2` on NixOS `18.03.132535.2ee48415afc (Impala)` and trying to install Firefox Beta using `nix-env -iA nixos.latest.firefox-beta-bin`. This results in the following error (full logs below):

    error: getting status of '/nix/store/x087jk2xg3kk93g82i8jcggnp4zfj7mp-firefox-bin-61.0b10/share/icons/hicolor/16x16/apps/firefox.png': No such file or directory

I also get the same error

[2018-06-04 16:56] crawford commented on #95
It looks like this may have been caused by https://github.com/nixos/nixpkgs/commit/01f37880f36e3f0b2f264375ad575062545d0b45.

[2018-06-06 11:08] rushmorem opened #96 "Add Clippy as a Rust overlay extension"

[2018-06-26 19:24] glasserc opened #98 "VidyoDesktop broken on NixOS unstable"
It worked OK on 18.03, but I now get:

[code]

nix-info:

 - system: `"x86_64-linux"`
 - host os: `Linux 4.14.51, NixOS, 18.09pre143771.a8c71037e04 (Jellyfish)`
 - multi-user?: `yes`
 - sandbox: `no`
 - version: `nix-env (Nix) 2.0.4`
 - channels(ethan): `""`
 - channels(root): `"nixos-18.09pre143771.a8c71037e04"`
 - nixpkgs: `/nix/var/nix/profiles/per-user/root/channels/nixos`

[2018-07-02 12:56] bkchr commented on #96
I think we should wait for clippy being a rustup extension.

[2018-07-17 00:56] rushmorem commented on #96
It now is. See https://internals.rust-lang.org/t/clippy-is-available-as-a-rustup-component/7967.

[2018-07-17 06:13] bkchr commented on #96
Yeah I know and you now can just add the following:
`myrust = (latest.rustChannels.nightly.rust.override { extensions = [ "clippy-preview" ];});`

And this will you install clippy.

[2018-07-17 07:59] rushmorem commented on #96
Cool. Thanks.

[2018-07-17 07:59] #96 closed

[2018-08-02 19:31] glasserc commented on #98
I think this got fixed by #99 and/or #101.

[2018-08-02 19:31] #98 closed

[2018-09-03 19:43] joepie91 opened #108 "Poor handling of extension unavailability for nightly releases"
Sometimes extensions are not available for a nightly release, such as [regularly happens with `rls`](https://github.com/rust-lang-nursery/rls/issues/611). When this occurs, a package specification like this:

[code]

... will outright fail to build, and break the entire rebuild of a system, with an error like this:

[code]

*Ideally* it would then just fall back to the most recent nightly release

[2018-09-06 16:28] Mic92 opened #110 "nixpkgs-mozilla does not evaluate on unstable and 18.09"
[code]

[2018-09-11 16:50] Ekleog opened #113 "Allow to add a hash to the downloaded manifest"
This would both make builds reproducible (without the current assumption that manifests are immutable), and much faster (because nix's pinning would work). And this would allow offline entering a nix-shell based on it.

Likely should be kept optional, for ease-of-use.

Current implementation idea: add a `sha256` parameter to `fromManifest` and `rustChannelOf`, and make `fromManifest` pass it throu

[2018-09-11 20:52] garbas commented on #110
@Mic92 feel free to remove servo

[2018-09-21 13:11] nbp commented on #108
How does `rustup` behave in such cases, if the latest nightly does not provide the component that is supposed to be installed?

[2018-09-21 13:13] nbp commented on #110
This seems to be fixed by #114.

[2018-09-21 13:13] #110 closed

[2018-09-21 13:14] nbp commented on #113
An other option would be to provide the manifest file as argument.

[2018-09-21 13:15] nbp commented on #6
Servo got removed in #114.

[2018-09-21 13:15] #6 closed

[2018-09-21 14:42] joepie91 commented on #108
I don't have any idea personally since I don't use `rustup`, but even if `rustup` refuses to install an unsatisfiable set of extensions, I don't think that that behaviour should be mirrored here.

Whereas `rustup` is typically only invoked when the user wants to *explicitly* change something in their Rust environment, that is not true for this overlay; the overlay package gets *implicitly* reevalu

[2018-09-24 17:04] nagisa commented on #91
You can do this now by using `rustChannelOfTargets "nightly" null ["target1", "target2"]`.

[2018-09-24 17:04] nagisa opened #116 "rust overlay does not work with nix run"
[code]

[2018-09-24 17:40] nagisa opened #117 "sysroot is not properly populated by rustChannelOfTargets"
Running

[code]

will put the standard library for the specified targets in their own little unique directories where rustc has no chance of finding them. The standard libraries should all end up in the same `lib/rustlib` as the native libstd.

[2018-09-24 22:11] Pneumaticat opened #118 "Turn off update nag for Firefox Nightly?"
The built-in firefox updater gives an error when trying to auto-update, which makes sense as Firefox Nightly in this repo is packaged by Nix and read-only.

Is there a way to disable it?

[2018-09-25 14:16] zimbatm commented on #118
See https://www.technipages.com/enable-disable-automatic-updates-in-firefox

It would be cool to ship firefox with a custom prefs.js that turns this off automatically.

[2018-09-25 14:18] garbas commented on #118
this should be done in nixpkgs, since we use `pkgs.firefox-bin-unwrapped.override` to package firefox nightly

[2018-09-25 14:18] garbas commented on #118
i actually think i did this at one point.

[2018-09-25 14:40] zimbatm commented on #118
Fix in https://github.com/NixOS/nixpkgs/pull/47330

[2018-09-25 14:47] #118 closed

[2018-09-25 14:50] zimbatm commented on #118
This behaviour will be fixed in 18.09 and unstable as soon as the channels update. http://howoldis.herokuapp.com/

[2018-10-01 21:39] crawford commented on #95
This seems to be fixed on `18.09beta662.b550b7d9e3d (Jellyfish)`.

[2018-10-01 21:39] #95 closed

[2018-10-05 20:13] glasserc opened #120 "Building gecko fails with `as: invalid option -- 'N'`"
[code]

This is with the "default" .mozconfig:

[code]

[2018-10-08 20:05] glasserc commented on #120
I think this got fixed by https://github.com/mozilla/nixpkgs-mozilla/commit/c72ff151a3e25f14182569679ed4cd22ef352328.

[2018-10-08 20:05] #120 closed

[2018-10-13 15:02] asymmetric opened #125 "Cannot make Firefox Nightly default browser"
When I try changing any setting in the `Preferences` tab, the setting doesn't actually get saved and I see the following error in `journalctl`:

[code]

### Reproduce

* NixOS 18.09
* i3
* `nix-env -iA nixos.latest.firefox-nightly-bin -f <nixpkgs>`
* change a setting
* `journalctl -xe`

[2018-10-23 18:09] glasserc commented on #56
I think `update.nix` is working fine now. Can this be closed?

[2018-10-29 16:09] nbp commented on #125
I do not know how to change that. Also, as far as I know, the preferences tab should be saved in your profile. Therefore I am a bit surprised that it does not save anything unless you have no write access to your home directory.

I am using the AwesomeWM and I did not noticed this issue.

[2018-10-29 16:13] nbp commented on #116
`nightly` is a set of all packages available in the manifest, you should name an attribute such as `nightly.rust` to have it as part of your environment.

[code]

[2018-10-29 16:13] #116 closed

[2018-10-30 09:07] #56 closed

[2018-10-30 09:57] #68 closed

[2018-11-02 17:41] bbigras opened #132 "How to use rustChannelOf with rustChannels.nightly.rust.override?"
Let's say I have this shell.nix:
[code]

I can't figure how to use the following with it:
[code]

[2018-11-07 11:39] arximboldi opened #133 "How to use in configuration.nix?"
I like to keep all my Nix stuff in configuration.nix (including pinning third-party github .nix stuff) so I can easily replicate the configuration everywhere and have all packages up and running.

However, I haven't found a way to use the "overlay" directly from configuration.nix.

I have tried something like:
[code]

But the names exposed by the overlay (like `firefox-nightly-bin`) seem to be una

[2018-11-07 12:02] garbas commented on #133
Use `latest.firefox-nightly-bin`

and please reopen if this doesn't fixes your problem

[2018-11-07 12:02] #133 closed

[2018-11-08 09:54] garbas commented on #132
[code]

Would that work?

[2018-11-08 14:55] bbigras commented on #132
I got:
`error: attribute 'override' missing, at /home/bbigras2/dev/stats-eve/shell.nix:4:24`

[2018-11-09 12:56] arximboldi commented on #118
I am on 18.09 with latest nixpkgs-mozilla and I am having this problem. Did I do something wrong?
I installed nightly by adding something like this to the `configuration.nix`:
[code]

[2018-11-11 02:11] andersk opened #134 "Fails with nightly 2018-11-11: llvm-nm: No such file or directory"
[code]

[2018-11-11 03:30] rail commented on #125
Do you still have this issue? I use the almost the same configuration (18.09+i3+firefox-nightly-bin), expect that I use `configuration.nix` to install things. I haven't seen any issues with the settings so far. Maybe the error is just a red herring... I'd check the permissions of the profile directory (`~/.mozilla/firefox`)  and maybe strace firefox.

[2018-11-11 03:43] rail commented on #65
Yeah, I get that too from time to time... The reason is that we fetch the tarball from a stable URL, while it can be overwritten multiple times a day (usually twice).

Maybe we should use https://download.cdn.mozilla.net/pub/firefox/nightly/latest-mozilla-central/firefox-65.0a1.en-US.linux-x86_64.buildhub.json to determine the URL of the tarball pointing to a dated directory.
So instead of using t

[2018-11-11 19:06] asymmetric commented on #125
Yes, I still have this issue. The occurrence of the DBus bug is too synchronous with my attempt at saving Firefox settings to be a red herring.

Could it have something to do with DBus not being started correctly?

The actual error is `GetIOR failed: GDBus.Error:org.freedesktop.DBus.Error.ServiceUnknown: The name org.gnome.GConf was not provided by any .service files` - any clues in which `.servic

[2018-11-12 02:41] rail commented on #125
I used to run `gnome-settings-daemon` explicitly from `~/.config/i3/config` in the past, but not anymore for at least 2-3 months. But I have a lot of gnome stuff [installed](https://github.com/rail/nixos-configs/blob/3e3f864e343f3efbee375d5aabf5cc0cdfab678b/modules/desktop.nix#L67).

I guess this one:
[code]

[2018-11-12 12:40] Softsapiens commented on #134
+1

[2018-11-13 14:43] hyperfekt opened #135 "missing library when building only rls-preview"
Trying to execute `rls` after building it with `latest.rustChannels.[stable|nightly].rls-preview` fails with
`rls: error while loading shared libraries: librustc_driver-a7268cc1add3f195.so: cannot open shared object file: No such file or directory`.

[2018-11-14 16:21] bkchr commented on #134
That is an upstream problem: https://github.com/rust-lang/rust/issues/55866

[2018-11-14 16:41] bbigras commented on #132
It seems to work. Thanks!

[2018-11-14 16:41] #132 closed

[2018-11-16 03:17] colemickens commented on #81
It seems there has been progress! https://glandium.org/blog/?p=3899 (titled: "PSA: Firefox Nightly now with experimental Wayland support")

[2018-12-02 15:55] #92 closed

[2018-12-02 16:01] P-E-Meunier commented on #20
As an extension of this issue, it would be very cool indeed if targets used the same syntax, for instance.

[2018-12-04 18:43] Slabity commented on #135
I also have this issue:

`error while loading shared libraries: librustc_driver-025268cc2660894c.so: cannot open shared object file: No such file or directory`

[2018-12-05 02:42] colemickens opened #137 "firefox-nightly-bin wrapper needs to include libEGL on LD_LIBRARY_PATH"
I think that the `firefox-nightly-bin` wrapper `firefox` needs to have LD_LIBRARY_PATH further augmented to include `libglvnd`, for example, to provide the `libEGL`.

Note, it still doesn't work for me, but it seems like it's necessary at least.

[2018-12-10 01:47] colemickens opened #139 "Example usage of versionInfo + timestamp for pinning Nightly builds"
Hello. I rely on Firefox Nightly builds for Wayland functionality, but it's still early days and pinning to a nightly version would be very helpful. It looks like `versionInfo` is built to take a timestamp, with an implication that it's usable for  bisecting, but I'm not sure how to use it since `firefoxVersion` doesn't seem to do anything with any `timestamp` argument.

Would anyone happen to hav

[2018-12-10 02:13] colemickens commented on #139
Alright, I figured it out and did my own bisect. Here's the diff in case someone else wants to know how to do this:

[code]

That also happens to be the last build before this bug was introduced: https://bugzilla.mozilla.org/show_bug.cgi?id=1512589

[2018-12-10 02:13] #139 closed

[2018-12-10 10:36] garbas commented on #137
I think this is a known problem with wayland did a quick search and i came up with this 2 links:
- https://bugzilla.mozilla.org/show_bug.cgi?id=1489902
- https://github.com/xhorak/firefox-devedition-flatpak/issues/90

I think if you disable webrender you would be fine.

I suggest you subscribe to those tickets, and follow progress there.

[2018-12-10 21:07] witchof0x20 opened #140 "Firefox data source should be HTTPS"
The firefox data source:
https://github.com/mozilla/nixpkgs-mozilla/blob/3f66b333ae1204bcb1106f41bf8f10c707ca6369/firefox-overlay.nix#L47

uses insecure HTTP to download binaries. The CDN seems to support HTTPS, so it seems like it would make sense to use HTTPS here.

[2018-12-11 01:02] colemickens commented on #137
@garbas Yeah, things are fine with WebRender disabled, and even with libGDL on LD_LIBRARY_PATH, it doesn't seem to work due to the bug you linked on BugZilla.

I made this change in my nixpkgs PR adding a Chromium Wayland build, it should be an easy thing to add to the wrapper here. I will try my hand at it whenever the Firefox WebRender builds are generally usable w/ Wayland.

[2018-12-13 03:42] rail commented on #65
I found an [issue](https://github.com/mozilla-releng/beetmoverscript/issues/195) with the file I mentioned above. Until it's fixed [this hack](https://gist.github.com/ff209cd6381f73b038775b94f8aa56eb) should work. I can update the patch after the bug is fixed.

[2018-12-13 15:04] rail commented on #65
the hack worked fine for me today:
[code]

So just waiting for the blocking issue to be fixed, then I'll just adjust the patch.

[2018-12-14 09:54] bemeurer opened #143 "Rust nightly of 2018-12-08 fails"
Trying to run a shell with the `2018-12-08` nightly I get:
[code]

[2018-12-17 13:19] bkchr commented on #143
This is a current limitation of our download implementation. There was just no nightly in the `2018-12-08`. We need to fix this by providing a way to fallback to the latest available release.

[2018-12-17 13:20] bkchr commented on #134
As long as upstream is not fixed, I use the following fix:
[code]

[2018-12-19 13:05] vandenoever commented on #91
Could someone explain how to use this overlay to compile WASM from Rust in NixOS in simple steps?
I've installed `$HOME/.config/nixpkgs/overlays/rust-overlay.nix` and can compile WASM with these steps, but it fails at the final step:
[code]

[2018-12-27 21:10] tdbgamer commented on #91
I'm getting a similar error while attempting to compile with musl target:

default.nix
[code]

The output:

[code]

[2019-01-01 19:49] asymmetric commented on #125
I realized this only happens when I'm trying to save Nightly as the default browser, not when setting Firefox-specific options. It makes sense, because in this case, Firefox is trying to talk to DBus to configure the option.

@rail could you try launching from CLI and setting nightly as the default?

[2019-01-02 12:58] #65 closed

[2019-01-03 00:57] rail commented on #125
Yup, the same here. When I try to click on ["Make default"](https://img.lgtm.ca/dd4a193e.png) in the preferences tab I get this:
[code]

Do you think this should be displayed in the UI? I'd file an upstream bug in this case.

[2019-01-07 15:13] asymmetric commented on #125
@rail I don't know if this should be displayed, but what I can say is that it's already relatively clear that it's not the default browser cause the text "Nightly is not your default browser" doesn't go away.

Do you think this is a problem in Firefox, or in the nix package?

It seems that Firefox is expectig GConf to be installed, and from what I can tell, GConf has been deprecated in favor of GS

[2019-01-07 18:31] asymmetric commented on #125
@rail If you could file the bug, I would be eternally grateful, I find bugzilla intimidating :)

[2019-01-07 18:32] asymmetric commented on #125
Btw, firefox is compiled [without GConf](https://github.com/NixOS/nixpkgs/blob/master/pkgs/applications/networking/browsers/firefox/common.nix#L196), so not sure why it's still expecting it there.

[2019-01-07 22:47] rail commented on #125
Sure, I can file a bug.

[2019-01-07 22:51] rail commented on #125
This is applicable for the derivations built from source, not the `latest.*` ones. They are vanilla binary builds, downloaded from mozilla.org.

[2019-01-08 09:02] asymmetric commented on #125
I guess that’s the problem then?

[2019-01-08 14:34] rail commented on #125
Yeah, this is why the bug report should go upstream. Still to be filed. :)

[2019-01-08 14:49] asymmetric commented on #125
Shouldn’t we instead build without GConf?

Firefox provides the flag, we just have to use it; so I’d say the bug is rather on our end.

[2019-01-08 15:01] rail commented on #125
I thought you pointed to the snippet where we do disable gconf when build from source. This repo doesn't use it (it uses the upstream binaries), thus we have different behaviour.

[2019-01-08 16:31] rail commented on #125
We can't do it this repo, because the idea is to use the vanilla binaries without any modifications. Just wrapping with all required libs, so we can run the bit-to-bit version (no patchelf).

[2019-01-15 21:15] andersk opened #148 "Fails with nightly 2019-01-13: error: Error: Unexpected token: ' ['"
[code]

[2019-01-15 21:19] andersk commented on #134
This was evidently fixed by commit a26d388082fcd470fa05e3276c9405dc306fdf16. For the new problem with 2019-01-13 and later, see #148.

[2019-01-15 21:19] #134 closed

[2019-01-17 19:34] spacefrogg commented on #148
The TOML tokenizer falls over the trailing content of the upstream `channels-rust-nightly.toml` which is:
[code]

It is not prepared to parse the right-hand-side list and chokes on the opening bracket ` [`.

[2019-01-17 20:07] spacefrogg commented on #148
Quickfix:
[code]

which is adding a (rather brute-force) regex that catches bracket lists (and more nonsense).

[2019-01-17 22:37] attente opened #149 "Unable to enter nix-shell: attribute 'printproto' missing"
I'm going based on the instructions from the README, but it seems like `xlibs.printproto` isn't there any more:

[code]

My nixos-version is (`nixos-unstable` channel):

[code]

[2019-01-18 01:41] rail commented on #125
Sorry for the delay, but I finally filed https://bugzilla.mozilla.org/show_bug.cgi?id=1520990

[2019-01-18 09:01] garbas commented on #135
looks like we would need to wrap rls-preview package with `LD_LIBRARY_PATH` with few new paths.

Running `ldd ./result/bin/rls` i get:

[code]

Looks like few libs are missing.

Somebody want to fix this? You would need to know how to override `rls-preview` in a custom overlay and wrap rls command with `wrapProgram --prefix LD_LIBRARY_PATH : "${rustc}/lib:..."`

[2019-01-18 09:20] garbas commented on #148
pinging @nbp  since he is the person behind `lib/parseTOML.nix`

[2019-01-18 09:22] bkchr commented on #148
Maybe we should merge https://github.com/mozilla/nixpkgs-mozilla/pull/147 until upstream provides support for it?

[2019-01-18 20:20] boomshroom commented on #135
Actually, just using the `rust` package for the rustPlatform seemed to work. Can't check right now though.

[2019-01-21 10:43] #148 closed

[2019-01-21 11:12] bkchr opened #151 "Rustc sigsev after 08.01.2019"
Hey, does anyone sees the following message:
```error: process didn't exit successfully: `rustc -vV` (signal: 11, SIGSEGV: invalid memory reference)```

For any rust nightly after `08.01.2019`?

[2019-01-22 01:46] bbigras commented on #151
Yes see https://github.com/rust-lang/rust/issues/57518

[2019-01-22 09:03] bkchr commented on #151
@bbigras ahh ty. I did not found this issue while searching for it.

[2019-01-22 09:03] #151 closed

[2019-01-22 18:15] nagisa opened #152 "Current rustc nightlies fail to run"
[This line](https://github.com/mozilla/nixpkgs-mozilla/blob/d5e7929a643f8fbf1b20a0b844a9f941874cfb82/rust-overlay.nix#L165) adds a dependency on the c++ shared library, however recently rustc has been changed to link to libc++ statically. This means that with two instances of c++ loaded into the same address space the program crashes (this is an inherent limitation of the libc++).

For the newer r

[2019-01-22 18:17] nagisa commented on #152
I have verified that removing the line works, however it would be nice to keep the support for older dated nightlies/stable versions as well, so something smarter may need to be done.

cc @nbp

[2019-01-22 19:15] nbp commented on #152
@nagisa is this true for stable as well, or should we remove this line based on a version check?

[2019-01-22 19:24] nagisa commented on #152
FWIW rustc itself no longer links to llvm directly for quite a while, so if LLVM was working before, it will not stop working.

I verified that with the line in question removed stable versions 1.32, 1.28, 1.20 & 1.19 all appear to work fine (i.e. `echo "fn main() {}" | rustc - --emit=llvm-ir` produces reasonable results). 1.18 does no longer install because there are no `.xz` artefacts for versio

[2019-01-25 15:00] #152 closed

[2019-01-28 13:45] mkovacs opened #160 "Exec format error on Rust nightly in WSL"
Trying to run `rustc` in an environment created by `nix-shell` fails with the following error:
[code]

The same issue is also present with `cargo`.

This happens in Windows Subsystem for Linux on Windows 10 (version 1809). The output of `uname -a`:
[code]

Here's the `default.nix` file used:
[code]

Also tried with different nightly builds, and the problem persists.

This is the output of `readelf

[2019-01-31 14:38] florianjacob commented on #143
Related: #108 , but with extensions instead of the full release.

[2019-02-03 13:36] andir commented on #80
This has probably been fixed with https://github.com/mozilla/nixpkgs-mozilla/commit/5ed3b4f96167fab48f48c24ac913470a77d8fad4. I will test this in a bit.

[2019-02-07 17:22] jonas-schievink opened #161 "parseTOML doesn'"

[2019-02-07 17:25] jonas-schievink commented on #161
Ah apparently numbers and comments are also unsupported. Should I just close this then? Doesn't seem to make sense to open an issue for every TOML feature that isn't yet supported.

[2019-02-12 12:19] ylixir commented on #160
i am getting this same issue as well. seems to happen on all channels: stable, beta and nightly

[2019-02-13 18:19] Mossop opened #163 "Nix installation style is incompatible with Firefox's dedicated profiles per install feature"
Firefox is rolling out a feature where different installs of Firefox get a different default profile (https://blog.nightly.mozilla.org/2019/01/14/moving-to-a-profile-per-install-architecture/). The way it determines whether an install is different from another is based on the path of the installation directory. However I understand that Nix installs different version of Firefox in different direct

[2019-02-13 18:48] garbas commented on #163
i think i just hit this myself when i updated to latest nightly. To comment on options you proposed:

This is actually not possible in Nix.

I think this would be the most clean way to go ahead. since we can set custom prefs in out repackaging of firefox binary

This is not the case for nixpkga-mozilla repository since we only use binaries provided by mozilla. But we might escalate this to nixpkgs

[2019-02-13 19:33] rail commented on #163
I've been hitting this issue already for a week or two now. :) Every time when I upgrade Nightly (twice a day!) I get a new profile, unless I run `firefox -P` and select my profile.

@Mossop can you point me to the pref or the code that handles profiles?

BTW, maybe we should use the update channel name instead of the installation path to determine if we need to create a new profile?

[2019-02-13 19:37] Mossop commented on #163
The code is all in `toolkit/profile/nsToolkitProfileService.cpp`. There is a way to opt out either by changing the build config or currently Snap packages are automatically opted out.

[2019-02-13 20:05] rail commented on #163
I'm going to use [this work around](https://github.com/rail/nixos-configs/commit/1ff8b6c3d8b98d0695045eedb97ce135025c36a1) until we fix this. :) Let's see if it even works.

[2019-02-13 20:09] Mossop commented on #163
If that works I'd prefer to add a different environment variable specifically for this (MOZ_DISABLE_DEDICATED_PROFILES or something) since the method for detecting Snap may be changing in the future.

[2019-02-13 22:37] rail commented on #163
Yeah, it makes more sense to have an explicit env variable for this.

[2019-02-14 01:20] rail commented on #163
Looks like it worked fine for me. I'll wait for another update tomorrow, just to be sure.

@Mossop BTW, how did you find this issue, I'm just curious. :)

[2019-02-14 01:21] Mossop commented on #163
https://bugzilla.mozilla.org/show_bug.cgi?id=1527386

[2019-02-14 01:55] rail commented on #163
Ah, thanks. @glasserc FYI^

[2019-02-14 11:30] garbas commented on #163
@rail @Mossop so a quick solution for now would be to wrap binary with `SNAP_NAME=firefox`? and later (when available) we can change it to MOZ_DISABLE_DEDICATED_PROFILES or something.

[2019-02-14 14:49] rail commented on #163
Yes, sounds correct to me. BTW, so far the hack works fine for me.

[2019-02-14 16:18] asymmetric commented on #125
The root cause is unfixable then, closing this.

[2019-02-14 16:18] #125 closed

[2019-02-14 22:54] Mossop commented on #163
Yep. I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1528082 on it, probably won't be able to get to it immediately though so if anyone wants to try working on it I'd be happy to help out!

[2019-02-15 13:06] nbp commented on #137
I have been told that wayland support can be enabled by setting the environment variable `MOZ_ENABLE_WAYLAND` which will default to either x11 or wayland based on the commit message which introduce it.

https://hg.mozilla.org/mozilla-central/rev/b9424178ab0b

We should fix that in nixpkgs, and set it to `1` in the Firefox wrapper of Nixpkgs.

[2019-02-16 00:58] colemickens commented on #137
I think it's far too early to be doing that. As much as I want to live in a fully-Wayland world, Firefox still has too many issues to default to Wayland (crashes, performance, broken/missing features, etc).

OTOH, adding libEGL  to firefox-nightly can be a benefit in case the user opts into Wayland, and also this will simply be needed for WebRender on NixOS as I understand it...

[2019-02-17 17:22] haslersn commented on #91
I made cross compilation work in a nix-shell using the following configuration:

_default.nix_:

[code]

_aarch64.nix_:

[code]

For normal compilation execute:

[code]

For cross-compilation to aarch64 execute:

[code]

[2019-02-28 20:42] marco-c commented on #161
See also #148.

[2019-03-11 12:29] flosse commented on #91
This does not work for me :(
[code]

[2019-03-11 16:11] haslersn commented on #91
Weird, compiling to musl64 works for me (using `crossSystem = (import <nixpkgs> {}).lib.systems.examples.musl64;`). What do your `.nix` files look like?

[2019-03-12 09:27] 573 opened #168 "nix-build Cargo.nix fails"
## Issue description

Running `nix-build Cargo.nix -A hello` following the "User's Guide to the Rust Infrastructure" in Nix Manual fails regarding pkg-config (https://gist.github.com/573/bfed92ee79c7658708557618c93f3786#file-logfile-L91) although "missing library" is installed (https://gist.github.com/573/bfed92ee79c7658708557618c93f3786#file-logfile-L115).

### Steps to reproduce

https://gist.gi

[2019-03-26 20:14] attente opened #169 "Couldn't resolve host name 'target.tar.bz2'"
The overlay suddenly broke (was working quite well for me before):

[code]

It seems to suggest that it thinks the host name is `target.tar.bz2`.

[2019-03-26 20:16] rail commented on #169
This is https://bugzilla.mozilla.org/show_bug.cgi?id=1539067, waiting on it

[2019-03-29 21:59] Mozilla-GitHub-Standards opened #170 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-04-01 02:23] glasserc commented on #169
I have a different error message for the same cause:

`error: value is null while a list was expected, at /nix/store/f4n3b2qh1zwjkhfh4z527q6zfskyczjb-nixpkgs-mozilla/firefox-overlay.nix:80:18
(use '--show-trace' to show detailed location information)`

[2019-04-01 08:40] #170 closed

[2019-04-01 19:02] rail commented on #169
This is probably something different, that line refers to checksums file parsing.

[2019-04-02 02:58] attente commented on #169
In case this is blocking anyone from doing an upgrade, I ended up doing this:

[code]

[2019-04-08 16:39] rail commented on #169
The upstream bug has been resolved and I got an update today. \o/

[2019-04-08 16:39] #169 closed

[2019-04-30 04:17] brettgilio opened #174 "Building rust on nix"
Please see this relevant issue.

https://github.com/rust-lang/rust/issues/60397

[2019-04-30 18:20] #174 closed

[2019-05-13 20:16] glen-fine opened #177 "Shared libraries on target"

[2019-05-14 04:44] Shados commented on #108
@nbp `rustup update` either succeeds for all components, or doesn't change anything and prints an error listing the unavailable components for the newer version.

[2019-05-14 09:50] nbp commented on #108
@Shados Thanks for the information.

So the current behavior is the one expected by `rustup`, if you were to do a fresh install all extensions without any prior installations. Thus, this overlay is actually correct in behaving this way by default.

So I think we should open an issue against the manifest which are being produced, to include a reference to the last manifest which satisfy all extensi

[2019-05-31 09:05] Arnavion opened #179 "rust-overlay's rust package installs some optional extensions by default"
The rust-overlay invokes the tarball's `install.sh`, which in the case of the `rust` package's tarball also ends up installing `clippy-preview`, `rustfmt-preview`, `rust-analysis`, `rls-preview`, etc that are optional extensions. This is because these happen to be bundled in the same tarball and listed in its `components` file, so invoking `install.sh` installs them by default. This somewhat defea

[2019-06-13 07:57] jamessewell commented on #91
@haslersn Your way works - but man does it download a lot of stuff!

[2019-06-24 15:29] abbec opened #181 "llvm-tools-preview fails on nightly"
Having `llvm-tools-preview` in the list of `extensions` gives the following error when starting a `nix-shell`:

[code]

[2019-06-30 16:37] dnaq opened #183 "rust-overlay: rust-src fails on latest nightly"
The following simplified nixos configuration:
[code]

yields this error, since approximately yesterday:
[code]

[2019-07-01 15:15] nbp commented on #183
For reference, here is the failing line: https://github.com/mozilla/nixpkgs-mozilla/blob/master/rust-overlay.nix#L149 .
This would be an issue to address either as part of the generation of the `install.sh` script provided and/or as part of the `patchShebang` function [provided by Nixpkgs](https://github.com/NixOS/nixpkgs/blob/master/pkgs/build-support/setup-hooks/patch-shebangs.sh)

[2019-07-01 16:20] arcnmx commented on #183
This seems like an [upstream issue](https://github.com/rust-lang/rust-installer/issues/95) though not sure where or why, probably it's suddenly running on windows now? There's probably no reason to work around it in the overlay, it's not like this is working anywhere else either. Unfortunately rustup presumably doesn't use that script, so the breakage isn't obvious to most nightly users...

[2019-07-02 06:24] dnaq commented on #183
We can work around this issue by adding:
``
${self.dos2unix}/bin/dos2unix install.sh
``

At the beginning of installPhase, line 148, in the overlay.

[2019-07-04 02:54] chessai opened #184 "error when trying to use clippy-preview"
the following succeeds:

[code]

But, if you uncomment the line with `clippy-preview`, it fails:

[code]

error with show-trace:

[code]

[2019-07-04 04:59] minojai commented on #163
Total layperson here, but can someone help me restore my bookmarks, add-ons, etc. in Firefox ever since the update for version 67.0.04 happened?  But I need it explained in very basic terms.  Thank you!

[2019-07-04 09:45] garbas commented on #163
@minojai you basically need to set a system variable so that this (not-so-)new(-anymore) feature does not take affect.

either use `SNAP_NAME="firefox"` or from 68 on you can use `MOZ_LEGACY_PROFILES=1`.

[2019-07-05 21:29] brettgilio opened #185 "How to override rust version"
I have this as my shell.nix

[code]

How might I go about getting rust 1.34 instead of the latest rust? I figure it could be done with rustChannelOf expression, but I have not figured it out. Could somebody help explain?

[2019-07-05 21:57] dywedir commented on #185
@brettgilio this should work:
[code]

[2019-07-05 23:16] brettgilio commented on #185
Thank you, closing!

[2019-07-05 23:16] #185 closed

[2019-07-06 12:17] colemickens opened #186 "firefox-nightly broken: checksums missing for x86-64"
I've been getting this when updating for the last few days:

`error: unable to download 'https://archive.mozilla.org/pub/firefox/nightly/2019/07/2019-07-06-09-34-01-mozilla-central/firefox-69.0a1.en-US.linux-x86_64.checksums': HTTP error 404`

https://archive.mozilla.org/pub/firefox/nightly/2019/07/2019-07-06-09-34-01-mozilla-central/

[2019-07-06 13:15] colemickens commented on #186
Then again, when trying to pin an older version, I failed and just re-updated to latest and it worked this time. Maybe I'm getting unlucky and updating before the final checksums are uploaded?

[2019-07-09 04:34] rail commented on #186
Yeah, this is a race condition. The json file (buildhub.json) we use to find the latest build is published before the checksums are published. I hit this a few times in the past. Not sure if this is something very important though. :)

cc @MihaiTabara

[2019-07-09 21:25] colemickens opened #189 "firefox-nightly: alias'ed binary name?"
Hi.

I've been using Nightly for a very long time now, but it is just not sustainable anymore. I am regularly finding myself using Chromium because Nightly just regresses frequently under Linux, particularly Wayland.

But... I have reported at least a couple bugs and like to be a guinea pig, so I'd like to keep them installed side-by-side. However, I'm not really sure how to do this without having

[2019-07-10 12:17] MihaiTabara commented on #186
Yeah. `buildhub.json` is transferred along with the `en-US` builds, which is among the first beetmover jobs to run. Then there's checksums-signing and then beetmover-checksums. There's at least few minutes in between so the race condition exists for sure. We could upload `buildhub.json` in the same time with checksums, but that requires some deps/payload overhead in beetmover, checksums-signing an

[2019-07-10 22:10] colemickens commented on #189
I was able to figure this out with some help from folks in #nixos.

Here's some inspiration for someone else. Basically, use `writeShellScriptBin` to wrap the binary with another name: https://github.com/colemickens/nixcfg/commit/d9f5595526d9a64ea3afe0bf3d6defff5c55bb58

[2019-07-10 22:10] #189 closed

[2019-07-12 14:13] nbp commented on #189
@colemickens Thanks for opening this issue and providing a work-around. Sorry for not answering back in due time.

If you still find issue while using firefox nightly, feel free to open a bug on https://bugzilla.mozilla.org/ , if you have not done so already.

[2019-07-19 15:11] glasserc opened #191 "gecko: build fails with clang7"
`mach build` fails with:

[code]

After some investigation, it's something to do with the generated `.mozconfig.nix-shell`, which is:

[code]

`mach` is unhappy because the argument to `--with-clang-path` doesn't correspond to the C++ compiler. I was eventually able to get it to work by hardcoding `llvmPackages_7` in `gecko/default.nix`, and making some changes to the other paths, but I don't have

[2019-07-20 21:48] dysinger opened #192 "crossSystem compiling does not work as expected"
Setting a crossSystem configuration in your nixpkgs setup so you can cross-compile for the raspberry pi works well. Take for example a nixpkgs file like so:

[code]

with such a file I can easily build any package for the remarkable tablet. take for example `htop` which compiles and links correctly and runs even (armv7l under qemu-system):

[code]

Now let's try the same nixpkgs file above and try

[2019-07-23 12:49] nbp commented on #191
hum … it sounds that when we are building with clang, we should use clang as much as possible for the `libclang-path` and the `clang-path`.

[2019-07-23 13:08] nbp commented on #192
@dysinger I have not noticed any issue when using the rust-overlay natively on arm64 devices.

Here is the location where the mapping between the system and the tarball to be downloaded is made:
https://github.com/mozilla/nixpkgs-mozilla/blob/master/rust-overlay.nix#L38

Can you investigate what would have to be fixed to cross-download properly the version of Rust, as well as patching it correctly

[2019-07-23 13:32] nbp opened #193 "Bump cbindgen to 0.9.0"
Today, while trying to bump cbindgen to 0.9.0, I noticed the following issue:

[code]

This sounds similar to https://github.com/rust-lang/cargo/issues/6928

[2019-07-23 13:48] nbp commented on #193
Taken from https://github.com/NixOS/nixpkgs/issues/61618 , this issue can be worked-around by adding:

[code]

[2019-07-23 16:07] nbp commented on #191
Fixing the first issue lead to another issue which made me to not investigate more in the first place, which is:

[code]

[2019-07-23 16:24] nbp commented on #193
This should be fixed by #194 .

[2019-07-23 18:30] glasserc commented on #191
Ah yes. I posted a comment on the PR, but I also got this. I think what's happening is that (because of the `cxxLib` argument), `clang` is `#include`ing headers from GCC, which `#include` this `backward_warning.h` (which is a GCC implementation detail).

I hacked up my local version because I knew I only cared about clang7. I eventually got a successful build using this:

[code]

[2019-07-24 13:53] nbp commented on #113
Fixed by #188

[2019-07-24 13:53] #113 closed

[2019-07-24 13:56] nbp commented on #183
This seems to have been fixed upstream: https://github.com/rust-lang/rust/issues/62276

[2019-07-24 13:56] #183 closed

[2019-07-25 00:58] dysinger commented on #192
Natively works fine. If you ask for an x86 rustc on x86 you get just that. If you ask for aaarch64 rust on aarch64 you get the right rust too. If you ask for armv7l binaries on x86 via normal Nixos you get just that ( see
[](https://matthewbauer.us/blog/beginners-guide-to-cross.html) for a hello-world one-liner example.) If you ask for armv7l (arm32) 'rustc' on x86 you get this blob of binary that

[2019-07-27 03:13] kyren opened #198 "Trouble running `cargo miri`"
I'm not exactly sure if this is a bug in the mozilla nixpkgs overlay or a bug in miri, but I get the following when I add the `miri-preview` component and try to run `cargo miri test` in a project:

[code]

This matches the output of `rustc --print sysroot` vs `miri --print sysroot`:

[code]

[code]

It looks like the contents of `/nix/store/v2fb0gz2lbhf1x52kq5kvq5aq4c61c00-rust-1.38.0-nightly-201

[2019-07-30 00:48] evanjs commented on #108
I've been trying to figure out a way to circumvent this, but `tryEval` isn't working, and I can't figure out how to check if `xz_url` is available per extension.

At the very least, I'd love to see stuff like `xz_url` exposed (if it isn't already) so we could at least hack our own solutions together.

As for me, for example, I'm trying to make a list of extensions in terms of precedence, update ni

[2019-08-18 08:22] panchaea opened #199 "Firefox Nightly no longer publishing signed checksums (checksums.asc)"
It seems that `*.checksums.asc` files are [no longer being included](https://bugzilla.mozilla.org/show_bug.cgi?id=1567429) in nightly releases. This makes it impossible to build releases after  `2019-08-16-09-48-15` using this overlay.

I've pinned the last working release in the meantime:

[code]

From the linked issue, it seems like the plan is to move checksum signing to another part of the rel

[2019-08-19 00:37] rail commented on #199
I don't think the per-file signatures are coming back. @MihaiTabara may have more information about where we can get the signatures of the files. I think the overlay will need a patch in any case.

[2019-08-22 09:58] nbp commented on #199
It seems to only generate signature files for `*.tar.bz2` file, which sounds like a regression for all other files.

[2019-08-24 00:01] lilyball opened #201 "rust-overlay missing meta.platforms"
The various derivations in the rust-overlay seem to be missing the `meta.platforms` key. I'm running into this while trying to use this overlay with `buildRustPlatform` because that assumes that `rustc.meta.platforms` exists.

[2019-08-26 13:14] glasserc commented on #201
Refs #200.

[2019-08-26 13:28] glasserc commented on #201
This should be fixed by #200.

[2019-08-26 13:28] #201 closed

[2019-08-27 16:12] nbp commented on #199
Discussing with @JohanLorenzo , the problem is that we should at least have a big-fat checksum file and its signature for the content of the nightly.

In the mean time, you can disable the checksum verification by commenting the following lines:
https://github.com/mozilla/nixpkgs-mozilla/blob/master/firefox-overlay.nix#L107-L109

Once the big-fat checksum file comes back with an associated signatu

[2019-09-01 21:46] ejpcmac commented on #181
This now fails on 1.37.0 stable.

[2019-09-02 13:33] MihaiTabara commented on #199
Sorry for the bustage while I was out on PTO. The plan indeed is to make nightlies look more like releases, hence backport the big-fat checksums along with their signatures. That work is coming by EOQ3 so hopefully this temporarily pin will be short lived. I've added a todo to myself to comment to this issue once that support lands.

[2019-09-04 16:04] #193 closed

[2019-09-05 18:39] glasserc opened #203 "gecko: building with clang should use lld as the linker"
Apparently it's much faster than gold: https://groups.google.com/d/msg/mozilla.dev.platform/iwQ9R6NS3yA/nZwrwtKoBAAJ. However, since gcc is still supported, we should perhaps only use lld when using clang.

[2019-09-05 21:18] glasserc commented on #203
I was able to build by adding `llvmPackages_7.lld` to the `buildInputs` and `ac_add_options --enable-linker=lld` to the `genMozConfig` script, but the compiled `firefox` wasn't linked properly to `libc++` and `libc++abi`. I think adding `export LDFLAGS="-Wl,-L${llvmPackages_7.libcxx}/lib -Wl,-L${llvmPackages_7.libcxxabi}/lib"` to `genMozConfig` is enough (trying it now), but I'm not sure if there'

[2019-09-06 03:54] glasserc commented on #203
Hmm, it seems like the linker problems (which, for posterity, are: `error while loading shared libraries: libc++abi.so.1: cannot open shared object file: No such file or directory`) are probably not related to the change in linker. So maybe adding `lld` to `buildInputs` and `--enable-linker=lld` is enough.

[2019-09-06 19:28] glasserc commented on #203
This seems more complicated than I expected at first. It seems that `lld` has some behavior about linking that I find surprising: libraries that it builds do not actually resolve links to other shared libraries. I'm not 100% sure of my vocabulary here but here's an example:

[code]

Here we see that `libc++` and `libc++abi` aren't actually linked. Why? We can also try explicitly linking another sh

[2019-09-17 21:26] evanjs commented on #108
Might [these](https://github.com/rust-lang/rustup.rs/pull/1997) new rustup features propagate into this overlay somehow?

[2019-09-23 13:29] apeyroux commented on #91
@haslersn It compiles but for me it doesn't make a static binary.

[code]

 I tried OPENSSL_STATIC=1; but I have this error with `cargo build --target x86_64-unknown-linux-musl --release`:

`error: could not find native static library `ssl`, perhaps an -L flag is missing?`

 Thank you again for your feedback.

[2019-09-23 14:02] apeyroux commented on #91
It works with this example

[code]

[2019-09-26 07:51] ekoudijs commented on #163
@garbas where do i need to place this solution? "MOZ_LEGACY_PROFILES=1" is the mozilla.cnf.

[2019-09-26 07:55] garbas commented on #163
@ekoudijs in your environment.

[2019-09-26 08:06] ekoudijs commented on #163
@garbas Is there somewhere any documentation how to do this? Thanks!

[2019-09-26 08:14] garbas commented on #163
```export MOZ_LEGACY_PROFILES=1```

or even

```MOZ_LEGACY_PROFILES=1 firefox```

[2019-09-26 08:20] ekoudijs commented on #163
Thanks

[2019-10-16 12:09] nbp commented on #199
@MihaiTabara Any plan to get this issue fixed on Firefox server side?

[2019-11-24 21:28] kierdavis commented on #181
`rust-overlay.nix` contains a line
[code]
which effectively blacklists llvm-tools-preview, even if you include it in `extensions`.

By simply removing this line I was able to build https://github.com/rust-osdev/bootloader (which requires llvm-tools-preview) successfully.

Presumably this line exists for a reason, but commentary about why it is present and the option to not blacklist `llvm-tools-pr

[2019-11-25 21:46] glasserc commented on #181
This was blacklisted in https://github.com/mozilla/nixpkgs-mozilla/pull/136. Based on the PR description, I am guessing that it was a temporary failure and that we can take it out, especially if you have used it successfully.

[2019-11-25 22:05] kierdavis commented on #181
Created #206 to remove this line.

[2019-11-29 22:01] Ralith commented on #198
Just encountered this myself. Bump?

[2019-12-05 15:56] attente opened #208 "Remove `name` from firefox attribute set"
This commit https://github.com/NixOS/nixpkgs/commit/d34d84a61da7cf332e470b65ab05f2d995026090 removes the name argument from `wrapFirefox` causing:

[code]

and preventing rebuild switch from working.

[2019-12-05 16:08] arilotter commented on #199
@MihaiTabara Did you get a chance to take another look at this issue?
The last Firefox version that you can install through this derivation is `2019-08-15-19-35-05`, which is now 3.5 months out of date. I'd open a PR to disable the auth check, but I imagine you want to fix this the right way.

[2019-12-09 08:31] colemickens commented on #199
It seems that the `firefox/wrapper.nix` has changed in `nixpkgs`, making another change to this repo necessary. I have a fork under my username here that one can find (and theoretically use in place of mozilla's fork temporarily). **It is insecure by nature, since it disables the signature verification check that this issue is about** (and thus is why I'm not sending a PR and am just leaving this

[2019-12-09 13:28] ryanpeach opened #211 "Exit Code 1 Can Not Build Derivation"
`build error`

[code]

`/etc/nixos/common.nix`

[code]

`/etc/nixos/extras/rust.nix`

[code]

[2019-12-22 15:05] RalfJung commented on #198
Ouch, this sounds like a bad conflict between Miri's sysroot detection and some symlink-based trickery that nix uses to achieve these overlays.

Miri already runs `PathBuf::canonicalize` before comparing sysroots, but in these case it looks like the *files* are symlinked, not the directories, so this does not help.

The `miri --print sysroot` is determined at build-time [here](https://github.com/r

[2019-12-22 16:30] Ralith commented on #198
Could the "shipped with rustc" logic be used here instead?

[2019-12-22 16:34] RalfJung commented on #198
Not sure how, `cargo-miri` doesn't know that. I mean I guess we could entirely disable the sysroot check if `RUSTC_STAGE` is set during the build, but that doesn't seem very clean either?

[2019-12-22 16:40] Ralith commented on #198
I mean, it's literally being shipped with rustc in this case, but maybe I'm missing something.

[2019-12-22 17:10] RalfJung commented on #198
Yeah I know but there is no terribly clean way to actually detect that.

[2019-12-30 19:34] #181 closed

[2019-12-30 19:34] glasserc commented on #208
I think this should be fixed now.

[2019-12-30 19:34] #208 closed

[2020-01-09 11:40] nbp commented on #211
I do not understand why you would not add the overlay to your NixOS configuration, and then just list `latest.rustChannels.nightly.rust` in the list of programs to install.

[code]

[2020-01-09 14:56] #199 closed

[2020-01-10 14:49] ryanpeach commented on #211
Im just not good at the nix language yet. Its pretty hard.

[2020-01-11 00:03] Rizary commented on #108
@evanjs I encouter with this issue when trying to use this overlay, is there any way around? Right now  I have to use `rustChannelOf` from another repo I found. The downside is I don't know where to get the attribute `date` in the `rustChannelOf` set, so I'm not sure whether I am using the latest nightly or not.

[2020-01-14 16:26] glasserc commented on #211
OK, does doing that resolve your use case/can we close this issue? I think that defining `extras/rust.nix` and putting it in `systemPackages` is equivalent to trying to define a package/derivation, which is why you're getting the error message you are about not having a `$src`. I don't think this is the way you want to go for this kind of situation.

[2020-01-14 16:33] #211 closed

[2020-01-14 18:50] HugoReeves commented on #184
@chessai Did you find a solution to this?

[2020-01-15 17:55] fkarg commented on #82
For the sake of completeness: it also simply works when adding the `gcc`-package, regardless of intended workflow.

[2020-01-21 14:12] Rizary opened #214 "Passing rustc and cargo from rust package into rust buid platform"
Hi,

Following this issue https://github.com/nmattia/naersk/issues/56, I want to know if there is possibility to pass rustc and cargo as rust's attribute instead of binary?

In the code, there is a note about:
[code]

By looking on several issues, it seems most people like nix-shell than nix-build when using this rust-overlay. However, I think naersk (as linked in the above) is really good because

[2020-02-03 10:30] krackout opened #216 "build latest Firefox using ALSA"
Starting from 70.0.1 I think, I have no sound from Firefox. I use nix package manager on a Debian Linux alsa only system.
Since alsa is not completely dropped from Firefox, how can I build/install firefox from nix package manager?
My apologies if this is not the proper place to ask; in such case guide me if you like to where to address such a question. Thank you.

[2020-02-12 21:32] glasserc commented on #216
How did you install Firefox normally?

I'm not a Nix expert, but if you installed it by putting a `firefox` derivation somewhere, maybe you can try `firefox.override { MOZ_ALSA = true; }`.

[2020-02-13 12:46] krackout commented on #216
my Firefox Nix installation was done typing:

nix-env -i firefox

I also tried to remove it, garbage collected to be fully removed and re-installed, same command.

I'll search for how to make an override on non-NixOS. If you have any idea please advice.

[2020-02-13 18:41] glasserc commented on #216
Sorry, I'm not sure myself. Where I would start is by creating `~/.config/nixpkgs/overlays/firefox-alsa-overlay.nix` with contents like this:

[code]

But I have no idea whether this will work or what to try if it doesn't. You might try asking in one of the community resources listed at https://nixos.org/nixos/community.html, they should be able to help with setting up an overlay that sets the env

[2020-02-14 14:53] krackout commented on #216
[code]

Got help from Nix IRC channel, the above overlay is syntax correct, no errors. Removed-reinstalled firefox, yet still no sound!

[2020-02-14 17:29] glasserc commented on #216
Unfortunately, this is beyond my level of expertise. The derivation for Firefox that actually does the build isn't even in this repository -- it's at https://github.com/NixOS/nixpkgs/blob/master/pkgs/applications/networking/browsers/firefox/common.nix#L238. It looks like it just passes an `--enable-alsa` flag to the configure script. I imagine that if there were an obvious way to get it to work, t

[2020-02-14 23:44] krackout commented on #216
Nevermind, I'll leave with Firefox ESR in case I don't find a solution for Firefox current. Thank you very much!

[2020-02-14 23:44] #216 closed

[2020-04-03 01:55] colemickens opened #220 "GL doesn't work properly in Nightly GLX_TEST_FAILED"
Hi.

I get a bunch of GL failures in Firefox Nightly that I don't see in stable builds. I've been observing this for a long time, and I don't think it's a matter of regressions in nightly, instead I think it's something maybe missing from how we patch the pre-built binary used for `firefox-nightly`?

Across a variety of machines, I get `FEATURE_FAILURE_GLXTEST_FAILED` for failureid for lots of `gf

[2020-04-23 15:20] Kazimazi opened #221 "Firefox nightly won't start on change networking.hostName."
I changed my hostName, rebuilt my system and it only crash afterwards.

Firefox: 77
OS: NixOS 20.03 (Markhor) x86_64
Nix: 2.3.4

I have no idea if here is the place to report such issues.

[2020-04-29 00:14] mammothbane commented on #160
Just found this as well. The key here seems to be:

`file` reports the same:

[code]

[2020-04-29 02:25] mammothbane commented on #160
[My "fix"](https://github.com/mammothbane/nixpkgs-mozilla/blob/master/rust-overlay.nix#L184-L191)&mdash;not gonna bother upstreaming because there's clearly something deeper wrong here, but I'll leave the link here in case anyone else needs to just get it working.

[2020-04-29 16:40] #74 closed

[2020-05-27 13:15] mayl opened #223 "`cargo doc` doesn't work for `thumbv7m-none-eabi` targets"
Hi, I've been trying to set up a `nix-shell` for doing embedded Rust development for ARM.  The shell I have so far can compile working binaries, which is great! Unfortunately `cargo doc` fails.  Removing `.cargo/config` allows the documentation to be built.  Also, building the project with a toolchain installed on Ubuntu with `rustup` successfully build the documentation.
The `shell.nix` I'm using

[2020-06-20 21:52] bbigras commented on #81
Can this issue be closed?

[2020-06-22 19:15] OmnipotentEntity opened #225 "Today's nightly fails with cannot find libz.so.1"
Minimal nix-shell to reproduce:

[code]

Then launch nix-shell and run `$ rustc -V`

Output expected:  The nightly version string

Output received: "rustc: error while loading shared libraries: libz.so.1: cannot open shared object file: No such file or directory"

Further information:

ldd for nightly rustc:

[code]

ldd for beta rustc:

[code]

(New dependency on libz?)

[2020-06-23 01:09] cole-h commented on #225
Probably related: https://github.com/NixOS/nixpkgs/issues/91314.

[2020-06-23 02:25] witchof0x20 commented on #225
https://github.com/NixOS/nixpkgs/issues/91314

Here's the fix I applied in nixpkgs/rustup. It appears the minimal change that needs to be made is adding zlib to the RPATH for libLLVM-10-rust-1.45.0-beta.so because of rust-lang/rust#72696

[2020-06-28 20:44] evanjs commented on #108
I recently had some time to take a look at this again.
I decided to go for an "optional features" approach, and it seems to work nicely (I think??)

The relevant commit/branch is https://github.com/evanjs/nixpkgs-mozilla/commit/29ebd0c1f68264ef3c79b9324e3908d717c8a5f9

Here is an example of how I am using it
[code]

With this optional features approach, I always get the latest nightly, as long as

[2020-07-01 13:56] bkchr commented on #225
#227 fixes this bug

[2020-07-02 09:04] #225 closed

[2020-07-12 02:24] cole-h opened #231 "Cannot use latest.firefox-beta-bin, list index 0 is out of bounds"
If I try to use `latest.firefox-beta-bin`, I get a `list index 0 is out of bounds` error. Full trace:

[code]

This has been happening for at least a week (I was holding out for it to magically fix itself, but that hasn't happened yet).

[2020-07-13 08:36] duog commented on #231
It seems the format of SHA512SUMS
between
https://download.cdn.mozilla.net/pub/firefox/releases/78.0b9/SHA512SUMS
and
https://download.cdn.mozilla.net/pub/firefox/releases/79.0b1/SHA512SUMS

[2020-07-13 17:02] cole-h commented on #231
Thanks for figuring that out. With the following patch applied locally, I can now use Firefox Beta again.

[code]

[2020-07-15 08:16] duog commented on #231
This will break betas  < 79

[2020-07-15 15:29] cole-h commented on #231
Right, which is why I haven't PR'd it. Would be nice if Mozilla could fix their output format... Unfortunately, I don't know where that's generated (nor do I want to learn Mercurial), so I won't pursue that angle.

[2020-07-16 08:06] duog commented on #231
I've filed a bug https://bugzilla.mozilla.org/show_bug.cgi?id=1653190

[2020-07-16 08:22] FintanH opened #232 "Missing toRustTarget in rust-overlay"
Hey hey, long time listener first-time caller :wave:  I was greeted with an error in the overlay this morning and I was wondering if I could get some help on figuring out what went wrong :)

I have the usual line in my `shell.nix`:
[code]

And it errored with:
[code]

The file in question -- `rust-overlay.nix` -- looks like below. It's giving out about `hostTargets` in `getComponents`

[code]

[2020-07-16 08:24] FintanH commented on #232
@matthewbauer: do you think it could be to do with this commit? https://github.com/mozilla/nixpkgs-mozilla/commit/efda5b357451dbb0431f983cca679ae3cd9b9829 :eyes:

Also, hey again :grin:

[2020-07-16 08:29] FintanH commented on #232
I'm able to work around it for now by pointing to https://github.com/mozilla/nixpkgs-mozilla/commit/4521bc61c2332f41e18664812a808294c8c78580 instead of `master`.

[2020-07-18 16:56] amitu opened #233 "Can't install Rust 1.45.0"
I am getting:

[code]

When I change from date from "2020-06-18" to "2020-07-16". I get the date of release by downloading the appropriate channel-rust-<version>.toml as shown in snippet below.

[code]

If I use a wrong date, eg "2020-07-17" I get correct error:

[code]

From the speed, and the fact that error does not change even when I switch my wifi off, it seems its not even making a network c

[2020-07-18 17:12] amitu commented on #233
On Heroku when I tried to install rust 1.45.0, it mentioned the version number as "rustc 1.45.0 (5c1f21c3b 2020-07-13)". I tried "2020-07-13" too as date in shell.nix, but it too fails with "unable to download" error.

[2020-07-18 17:14] amitu commented on #233
Maybe README.md should be updated with reliable way to get the date. Please correct me if my assumption that date can be obtained reliably from eg, "https://static.rust-lang.org/dist/channel-rust-1.44.1.toml", so I can send a PR to update README.md file.

[2020-07-19 13:11] antonsmetanin commented on #160
I'm also getting the same error when trying to install [cargo2nix](https://github.com/tenx-tech/cargo2nix) in WSL. Is there any way around this?

[2020-07-22 18:20] garbas commented on #231
I would assume switch to python 3 caused this.

I think some of the string writing need to use "six.ensure_str" when dealing with strings somewhere around https://searchfox.org/mozilla-central/source/testing/mozharness/scripts/release/generate-checksums.py

Maybe @rail can give a hand.

[2020-07-22 19:45] rail commented on #231
Eeew, another python 3 issue. :) Let me handle this.

[2020-07-22 19:51] rail commented on #231
Thanks for filing!

[2020-07-27 10:24] FintanH commented on #233
@amitu I noticed this line in your example:

 If you have a `rust-toolchain` file maybe it'd be better to do:

[code]

[2020-07-27 11:04] amitu commented on #233
Thanks, but its not working for me.

[code]

I get the following error:

[code]

[2020-07-29 15:51] rail commented on #231
It should be fixed now, https://download.cdn.mozilla.net/pub/firefox/releases/80.0b1/SHA512SUMS looks better. Can someone verify this?

[2020-07-29 16:53] cole-h commented on #231
Definitely fixed -- posting from a newly updated Firefox 80.0b1! Thanks!

[2020-07-29 16:53] #231 closed

[2020-07-29 18:40] rail commented on #231
\o/

[2020-07-30 23:04] matthewbauer commented on #232
Hey! Sorry about that. It looks like toRustTarget was added only in 20.03, so many users won't have it.

It's easiest to just provide a backup in this case, so done in:

https://github.com/mozilla/nixpkgs-mozilla/pull/234

[2020-08-01 07:23] Patryk27 commented on #233
I think there's just some issue with clippy (see also: https://github.com/mozilla/nixpkgs-mozilla/issues/184); could you try:
[code]

[2020-08-01 07:26] Patryk27 commented on #184
Just for reference, in order to install clippy, you should use `extensions` like so:
[code]

[2020-08-01 17:03] FintanH commented on #232
Hmmm weird... I'm on 20.03 as far as I'm aware (still getting used to the nix ecosystem). But glad you have a fix for pre-20.03 too :raised_hands:

[2020-08-02 03:00] mayl commented on #232
It also seems like the combination of efda5b3 and this fix the problems I was having with cargo doc in #223.

[2020-08-04 06:21] amitu commented on #233
@Patryk27, this worked for me! \o/ ye ye ye! Thanks a lot.

[2020-08-04 06:21] #233 closed

[2020-08-07 16:23] danieldk commented on #231
Unfortunately,

https://download.cdn.mozilla.net/pub/firefox/releases/79.0/SHA512SUMS

is also broken. So, installing the latest stable from the overlay gives the same error.

[2020-08-07 18:31] rail commented on #231
IIRC, it was too late for the release build to get the fix in. It should be fixed in either in 80.0 or 79.0.1.

[2020-08-14 16:12] tex opened #235 "rust-analyzer on nightly asserts"
In a test project directory where stable rust-analyzer works I get this with nightly:

[code]

[2020-08-15 10:52] tex commented on #235
And you cannot install it together with nix-env because it says priority of rust and rust-analyzer is same and they have colliding rust-analyzer binary. Setting priority doesn't help.

[2020-08-15 11:19] tex commented on #235
Oh, issue with installation. FYI: it is needed to link both rust-overlay.nix AND rust-src-overlay.nix to ~/.config/nixpkgs/overlays/ and then just install latest.rustChannels.nightly.rust with nix-env.

[2020-08-15 11:19] #235 closed

[2020-08-23 03:39] garrett-hopper opened #238 "Rust Nightly rust-analyzer RUST_SRC_PATH Wrapper"
I previously used Rust's stable channel along with `rust-analyzer` from `nixpkgs`. This provided a [wrapper](https://github.com/NixOS/nixpkgs/blob/master/pkgs/development/tools/rust/rust-analyzer/wrapper.nix#L15) around `rust-analyzer` which set `RUST_SRC_PATH`.

I've recently switched to `rustChannels.nightly.rust` which provides and conflicts with `rust-analyzer`. This version, however, doesn't

[2020-08-23 16:52] Jumblemuddle opened #239 "install.log collision"
I should be able to use separate packages instead of the aggregated `rust` package, right?

In `rust-overlay.nix`:
[code]

When I try to install multiple:
[code]

I get a collision on the `install.log` file:
[code]

[2020-08-27 20:23] giacomocariello opened #240 "Latest rustc stable (1.46.0) breaks because libz.so.1 is missing"
rustc 1.46.0 returns the following error upon execution:

[code]

As workaround, I pinned version 1.45.2, which works fine.

[2020-08-28 02:12] OmnipotentEntity commented on #240
Another easy workaround is to add the following to your shell.nix:

[code]

[2020-08-29 12:52] kyren commented on #238
You may have already tried this, but in that case this is for anybody else who comes across this issue.  I *think* the previous behavior of the wrapper can be emulated by putting something like this in your shell.nix file:

[code]

(Note the trailing part after `rustChannel.rust-src`, this is apparently the directory that RUST_SRC_PATH should be set to from looking at the rust-analyzer source, and

[2020-08-29 21:04] tel commented on #238
I've also been trying to figure this out. I don't see the RUST_SRC_PATH error (maybe getting swallowed) but setting it as above doesn't fix the lack of autocomplete.

[2020-08-30 15:12] Jumblemuddle commented on #238
`RUST_SRC_PATH="${latest.rustChannels.nightly.rust-src}/lib/rustlib/src/rust/src";`

Gives `/nix/store/cby7s6wpw4dfnzffrm9x4jh8d1jhhib3-rust-src-1.48.0-nightly-2020-08-28-d006f5734/lib/rustlib/src/rust/src` which doesn't exist. `lib/rustlib/src/rust` exists with a `Cargo.lock` file and a `library` directory, but there is no `src` directory in there.

I tried a few different variations on that path

[2020-08-30 23:31] kyren commented on #238
Ah, I think the difference might be that I'm using rust stable, so for me the path is `/nix/store/yzyjsq1l2w9g1d8hl25mnbswdw9j1sm4-rust-src-1.46.0-2020-08-24-04488afe3/lib/rustlib/src/rust/src`, which definitely exists, and contains:

[code]

I still can't get autocomplete working though, but I think my autocomplete problems are larger than this because autocomplete does not work for me in general

[2020-08-31 04:32] tel commented on #238
It might not be nixpkgs-mozilla, but I can confirm that I've got autocomplete working through lsp-mode in Python, it's just rust-analyzer and rls that are broken. I'll eventually try doing an isolated test with rustup, too, but I'd much prefer to stay in Nix.

[2020-09-03 19:28] acowley commented on #238
I've been grappling with this, too as I didn't turn up this Issue in my searches until now. It seems like some of the needed source files are missing, but I'm not clear on which component is at fault.

[2020-09-09 05:50] acowley commented on #238
I think the problem is the use of symlinks in the nix store. After spending too much time on this, I was able to make `std` work for `rust-analyzer` by creating a dumb little overlay that I stick on top of everything else that just copies the symlink-resolved `rust-src` files into its `$out` path, and creates a wrapper script for `rust-analyzer` that sets `$RUST_SRC_PATH` to itself to avoid furthe

[2020-09-09 14:06] tel commented on #238
Do you think this is a reasonable ticket to send over to `rust-analyzer`? It might not be a priority of theirs, but handling symlinks when searching for source files seems like a valuable addition. It'd be useful to create a minimal replication that doesn't rely on Nix as I would bet they don't care about Nix specifically.

[2020-09-22 11:43] nrolland commented on #232
same here, I had to `niv add mozilla/nixpkgs-mozilla -a rev=18cd4300e9bf61c7b8b372f07af827f6ddc835bb`

[2020-09-29 01:01] solson commented on #15
This issue is now out of date, see https://github.com/solson/rust-nightly-nix/issues/27 for a summary of the situation.

[2020-09-29 01:01] #15 closed

[2020-09-29 04:20] Ericson2314 commented on #15
And for the record, cross compilation was also fixed.

[2020-10-10 22:03] TLATER commented on #238
It looks like this isn't the only place `rust-analyzer` struggles with symlinks: rust-analyzer/rust-analyzer#3691, rust-analyzer/rust-analyzer#717.

I think it's worth adding!

[2020-10-13 15:36] dfoxfranke commented on #238
It seems that as of 1.47 going stable, the correct `RUST_SRC_PATH` setting is `${rustChannel.rust-src}/lib/rustlib/src/rust/library`. Setting this prevents rust-analyzer from complaining at VSCode startup that it's incorrectly set, but it does *not* make my completions work. OTOH everything works fine if my Rust environment comes from `nixpkgs.rustup` rather than nixpkgs-mozilla, and I don't have

[2020-10-13 17:06] ericbmerritt commented on #232
I am running 20.03, it definitely has `rust.toRustTarget`, yet I am still getting this error. Interestingly enough, going back to before July 14 didn't work for me as it worked for @dysinger (hey Tim). I am stuck at this point.

[2020-10-13 18:56] acowley commented on #238
@dfoxfranke did you try the suggestion in my comment above? I’ve been using that with working completions.

[2020-10-13 18:59] TLATER commented on #238
@acowley would be nice if you could share your overlay, I also resorted to just using rueful because it's simpler :)

[2020-10-14 22:30] acowley commented on #238
@TLATER Here's part of a `shell.nix` for a current project that uses `niv`:

[code]

I did this so I could add `rust-analyzerw` to my `buildInputs` and be sure I was getting my wrapped analyzer, but I was really just trying to get myself unstuck rather than packaging things properly. I don't know if there's will to fix things here or try to get RA to handle symlinks differently. I guess a third op

[2020-10-14 22:54] dfoxfranke commented on #238
I haven't tested the fix yet, but I think I've identified the bug in RA. See https://github.com/rust-analyzer/rust-analyzer/issues/3691#issuecomment-708699545.

[2020-10-15 19:10] dfoxfranke commented on #238
https://github.com/rust-analyzer/rust-analyzer/pull/6246 fixes the symlink problem for me. It remains necessary either to overlay `rust-src-overlay.nix` or to include

[code]

in the derivation for my VSCode environment. But this much seems like expected behavior to me, not a bug.

[2020-10-20 04:17] deifactor commented on #238
@dfoxfranke Thanks a ton! What's the nicest way to use a version of rust-analyzer with that fix from within the overlay? When I run `rust-analyzer --version`, I get `0d03fe6`, which looks like it's still a month old, even though I'm running on nightly. My rustc is from yesterday, so *that's* up-to-date.

[2020-10-20 12:42] dfoxfranke commented on #238
@deifactor I checked out and built https://github.com/rust-analyzer/rust-analyzer and then changed the symlink `$HOME/.config/Code/User/globalStorage/matklad.rust-analyzer/rust-analyzer-linux` to point to the binary I compiled.

Make sure you build with `--release`. The debug build is an order of magnitude slower.

[2020-10-20 21:58] deifactor commented on #238
Aah, I was hoping for a more Nix-y solution. I can just copy acowley's trick until this makes its way into stable.

[2020-10-22 15:29] NickHu commented on #179
I also noticed that adding `"rust-std"` to `extensions` has no effect, as it's included by default - however, oddly enough, nix thinks it's a new derivation and you end up with two derivations in the nix store which differ only in their path but otherwise the directory contents is identical

[2020-10-22 15:34] NickHu commented on #238
A simpler solution if you are content with rust stable is to just use the version of rust-analyzer from nixpkgs like so:

[code]

It's crucial that rust-analyzer appears **before** rust, because the order of `buildInputs` determines the `PATH` environment variable.

Then completions and goto-def etc. all seem to work for me (technically you might get out of sync, but I think rust-analyzer from nix

[2020-11-03 13:32] PlumpMath opened #244 "Unable to find libstd under RUST_SRC_PATH."
Does the Mozilla Foundation have any a.i. using emacs racer?

[2020-11-04 10:01] PlumpMath commented on #244
Sorry. My missed mistake made me so sensitive.
 I Solve.
Cargo install racer.
THANKS :))

[2020-11-04 10:02] #244 closed

[2020-11-18 01:20] li-maisiliym-xyz commented on #238
[code]

That doesnt seem to be true anymore. Li is unable to find rust-src in the `rust` 'package'.

[2020-11-30 08:45] Rizary commented on #91
@apeyroux can you build a static rust package using `buildRustPackage` with the `rust` and `cargo` taken from this overlay?

[2020-12-02 10:12] kinnison opened #245 "Latest rustup added toml format for `rust-toolchain`"
Hi, rustup developer here,

The latest rustup release (1.23) added support for the `rust-toolchain` file to contain structured data - see https://rust-lang.github.io/rustup/overrides.html#the-toolchain-file for information.

I think that if you're parsing `rust-toolchain` you'll need to add support for this.

If you do, then feel free to give me a poke if the semantics aren't clear.  Also I intend

[2020-12-04 05:31] fzakaria commented on #19
I'm still using this PR as documentation :)

[2020-12-04 12:21] steveeJ commented on #19
@fzakaria I never came back to issue but now that I'm reminded of it I'm happy to follow up. What's the exact information in here that's helping you?

[2020-12-04 14:27] fzakaria commented on #19
How to add RUST_SRC_PATH since my IDE was asking for the path.

I saw another pull request that the source was also added to every channel automatically without needing to specify the extension.

The two together would be a really good documentation addition.

[2020-12-05 02:23] Rizary commented on #214
This fixed by the upstream naersk

[2020-12-05 02:23] #214 closed

[2020-12-18 13:07] calbrecht opened #246 "Question: How do *you* actually use the gecko devEnv in a nix-shell || is it just me?"
[code]

[code]

[code]

I am on nixpkgs master of this morning and have some other overlays like the `nixpkgs-wayland` and `emacs-overlay` in my system.

Do i have a borked system and this is working for everyone else?

[2020-12-18 13:38] calbrecht commented on #246
Hm, okay. Got it to compile at least, with this patch

[code]

The `m4` change i am capable to comprehend, the change of the `gcc` attribute is over my head. But it seems to work.

[2020-12-18 14:25] calbrecht commented on #246
Heh, compiling doesn't finish successfully:
[code]
`error while loading shared libraries: libstdc++.so.6`, hmm probably the `gcc` change was not that good.

[2020-12-18 14:41] calbrecht commented on #246
I am just digging in the dark, hopefully it is amusing for some of you :)

[2020-12-18 14:45] calbrecht commented on #246
Actually, when it started to compile, i used to call the `gcc` gecko devEnv nix-shell like so `nix-shell ../../nixpkgs-overlays/nixpkgs-mozilla/release.nix -A gecko.x86_64-linux.gcc`

Now if i try to use `clang` because, i don't know, it's hot and less complicated or something i heard, i notice that `lib` does not even have `stdenv` and i am doing stupid things.

[2020-12-18 15:14] calbrecht commented on #246
Next try, after `git apply <(curl -s https://patch-diff.githubusercontent.com/raw/mozilla/nixpkgs-mozilla/pull/196.patch)`

[2020-12-18 15:22] calbrecht commented on #246
Again, uff
[code]

[2020-12-18 16:20] calbrecht commented on #246
Ok, building again, big hopes after removing double `/lib` from https://github.com/mozilla/nixpkgs-mozilla/pull/196#pullrequestreview-555614737

[2020-12-18 16:39] calbrecht commented on #246
Nope, fails with same error as in https://github.com/mozilla/nixpkgs-mozilla/issues/246#issuecomment-748111202

[2020-12-18 17:10] calbrecht commented on #246
Aha:
[code]
But now what?

[2020-12-18 17:16] calbrecht commented on #246
[code]

[2020-12-19 00:02] calbrecht commented on #246
Finally got it to build ;), i did cheat and use the working derivation from `nixos/nixpkgs` instead to build a shell.

[code]

[2020-12-19 00:07] calbrecht commented on #246
Good night :)

[2020-12-19 00:07] #246 closed

[2020-12-30 04:02] toastal opened #247 "Firefox allow overriding with custom policy.json in distribution"
Because the store is immutable (therefore the file in `/distribution` can't be modified)/and these bins don't appear to read from `/etc/mozilla/firefox/policies`, it would be ideal to have a way to inject some custom settings.

A web search did not reveal any clear or satisfactory ways to accomplish this all saying you need to build from source, or set the store to allow writing, or installing the

[2021-01-21 05:13] Apteryks commented on #82
I had this issue in GNU Guix as well, trying to bootstrap Rust 1.29.2.  It turns out that the issue is `src/librustc_codegen_llvm/back/link.rs`, which looks for 'cc' on the PATH (rather than 'gcc' or others). The exact line is this one: `LinkerFlavor::Gcc => "cc".as_ref()`.  One would think that if it already figured out the flavor is GCC, it'd use `gcc`.

[2021-02-03 17:11] drozdziak1 commented on #238
has anything changed for this issue? I'd love to be able to use rust-analyzer from nixpkgs-mozilla

[2021-02-04 03:03] maisiliym commented on #238
@drozdziak1, there isn't much point in using a nix-store rust-src; being read-only, it breaks analyzer.

[2021-02-07 21:11] dfoxfranke commented on #238
@maisiliym Breaks it how? It's been working fine for me.

[2021-02-24 11:33] 573 commented on #160
Just FYI, on WSL2 this doesn't occur at all.

[2021-03-07 15:22] werner291 opened #252 "Option to exclude documentation from rust installation?"
Hello,

when installing a Rust toolchain, I get a lot of:

[code]

I kinda always use docs.rs, and the installation spends rather a lot of time (several minutes) installing those html files when I build a shell with rust.

[2021-03-08 18:45] nbp commented on #252
There is none at the moment.

You can probably add an option as part of the `postFixup` phase:
https://github.com/mozilla/nixpkgs-mozilla/blob/8c007b60731c07dd7a052cce508de3bb1ae849b4/rust-overlay.nix#L181

And transfer the `installDoc` option from:
https://github.com/mozilla/nixpkgs-mozilla/blob/8c007b60731c07dd7a052cce508de3bb1ae849b4/rust-overlay.nix#L264
https://github.com/mozilla/nixpkgs-mozi

[2021-03-08 18:56] nbp commented on #247
Currently the `policies.json` is inherited from https://github.com/NixOS/nixpkgs/blob/master/pkgs/applications/networking/browsers/firefox-bin/default.nix#L179

It is used as follow:
https://github.com/mozilla/nixpkgs-mozilla/blob/master/firefox-overlay.nix#L142-L154

Which reuses the building expression from Nixpkgs, and replaces the source binary.

While this can be done without modifying Nixpkg

[2021-03-12 06:11] paholg commented on #238
I've stumbled across this issue because I've been having issues with rust-analyzer in Nixos. @dfoxfranke it's broken because rust-analyzer tries to create Cargo.lock, but cannot inside of /nix/store:

[code]

That said, this thread has helped me to get it working. I needed to set in my `.profile` (it was in my `.zshrc`):

[code]

which sets it to `~/.rustup/toolchains/...`

[2021-04-01 17:24] stuebinm opened #254 "support for wasm-bindgen?"
I use this overlay to build a project to wasm (in a nix shell):

[code]

This works nicely, but now my problem is this: if I call wasm-bindgen on the result, it complains that it is incompatible, since the version in nixpkgs is older than the version in this overlay:

[code]
As far as I can see, this overlay does not provide fitting versions of `wasm-bindgen` along with the versions of rustc, carg

[2021-04-18 04:04] andersk commented on #252
See rust-lang/rust#80684 for the underlying problem causing rust-docs installation to take forever.

[2021-04-18 20:45] sgraf812 commented on #163
Not sure if this is the right place to report (I'll also report an issue on nixpkgs), but it appears that the firefox wrapper still passes `SNAP_NAME=firefox` today to fix FF 67 (https://github.com/NixOS/nixpkgs/commit/082ed38c), even though `MOZ_LEGACY_PROFILES` has long been available (and is also being passed since FF 69, https://github.com/NixOS/nixpkgs/commit/87e26184). For whatever reason, `

[2021-05-06 15:48] GoldsteinE opened #255 "Value is a function where a set was expected"
I've added overlay to my `configuration.nix` like this:
[code]
And trying to start shell gives me this error:
[code]
What I'm doing wrong?

[2021-05-27 17:37] colemickens opened #256 "What changed regarding GPG keys for releases?"

[2021-05-27 17:37] colemickens commented on #256
Thanks GitHub, maybe pressing "enter" in the title field with no text **shouldn't** submit the useless issue?

[2021-05-27 17:37] #256 closed

[2021-05-27 17:53] colemickens opened #257 "What changed regarding GPG keys for releases?"
I maintain https://github.com/colemickens/flake-firefox-nightly which provides nightly builds to nix flakes users.

However, something broke regarding Firefox releases. I'm on vacation and can't dig into this, but would like to not leave my users on a stuck version of Nightly for 5+ days.

Can anyone advise if something changed regarding how Firefox publishes releases?

[code]

[2021-05-28 00:57] bb010g commented on #257
I'm seeing this on my own personal pinned Nightly setup, which uses something similar to the following.

[code]

On my system, building this fails.

[code]

[2021-05-28 03:40] andersk commented on #257
It seems nightly builds 2021-05-26-21-17-56 and later are signed with a new subkey that can be fetched from the keyservers (`gpg --recv-keys 14F26682D0916CDD81E37B6D61B7B526D98F0353`) but does not seem to be present on the website. I opened https://bugzilla.mozilla.org/show_bug.cgi?id=1713258 and #258.

[2021-05-28 15:10] colemickens commented on #257
Thanks all! 👍

[2021-06-01 13:52] #257 closed

[2021-06-02 10:01] nbp commented on #255
There are 2 issues:
 1. `nix-shell` does not look in your `configuration.nix`, it uses `~/.config/nixpkgs/overlays/` directory. ([see the documentation](https://nixos.org/manual/nixpkgs/stable/#chap-overlays))
 2. `nix-shell` by default evaluate the attribute within the default channel if you have only one. Thus `nixos` corresponds to `nixpkgs.nixos` attribute, as opposed to what `nix run` command

[2021-06-02 10:01] #255 closed

[2021-06-16 18:06] Icy-Thought opened #259 "firefox-nightly double icon + firefox-beta -> Wrong icon"
Firstly, I would like to thank you for creating this overlay and reducing the time/effort we have to spend for us to install Firefox nightly on NixOS!

Secondly, I'd like to enlighten you about several issues that I have been facing while using this overlay.

## Issues
Firefox Nightly:
1. The icon shown under Gnome application menu is labelled as "Firefox" and when launched from Gnome taskbar anot

[2021-06-17 21:24] enderger opened #260 "stdenv.lib is depreciated!"
Hey,

Just wanted to quickly point out that currently this does not build on the current `nixos-unstable-small` branch, due to the use of `stdenv.lib` in several locations. This has been depreciated for quite some time, and no longer exists in the latest builds (if it's not already in `unstable`, it will be soon). It should be fairly trivial to fix, given that the lib input has already seen use al

[2021-06-18 19:41] baloo commented on #260
duplicate of #250

[2021-07-29 10:13] nbp commented on #246
@calbrecht interesting trick, I usualy use it from the release.nix file. It is not stable and I have to backport many modification as you encountered here :/

[2021-08-15 21:35] andersk commented on #260
This was fixed in #250.

[2021-08-16 11:02] Kreyren opened #263 "Missing `rust-src` which is causing `rust-analyzer` to fatal in vscodium"
![image](https://user-images.githubusercontent.com/11302521/129553112-9b757ff7-5a5e-4cab-9269-d4fd6af000a3.png)

### Nix-shell

[code]

### Editor

[code]

---

[code]

[2021-08-17 05:11] #260 closed

[2021-09-11 17:12] toastal opened #264 "How to install the latest ESR?"
Currently I'm on version 74 with `latest.firefox-esr-bin`, but version 91 is the new ESR (I need to downgrade because of the Wayland regressions in 92 where I can't right-click, the UI hangs, and I can't see extension pop-ups).

[2021-09-22 08:41] nbp commented on #264
See https://github.com/mozilla/nixpkgs-mozilla/blob/master/firefox-overlay.nix#L184-L188 , the `firefoxVersion` function is available at `lib.firefoxVersion` after importing the overlay.

You could add another overlay, loaded after, which looks like:
[code]

If you are looking for a different version, you can have a look at https://download.cdn.mozilla.net/pub/firefox/releases/

Does that answer y

[2021-09-22 11:02] toastal commented on #264
Sure, but why isn't the latest ESR the value for `FIREFOX_ESR`? Why is it `NEXT`? That name seems misleading.

[2021-10-04 16:03] piegamesde opened #265 "Add custom Rust targets"
I don't really know how this overlay works in detail, but I'd like to be able to add new custom targets that are not provided by Rust. I already have some .json file but I don't know how to integrate it.

[2021-10-19 12:08] sleirsgoevy opened #266 "Derivations created using this repository are not reproducible"
Specifying "nightly" rust in buildInputs of my package causes the latest nightly Rust to be downloaded each time I try to build the package. Please consider pinning specific commits of this repository to specific versions of Rust, so that version pinning becomes possible.

[2021-11-04 19:04] nbp commented on #265
If the target is not part of the manifest file, this would be difficult.
Can you describe or paste a version of the json file? Is it supposed to replace the manifest file which is currently used?

[2021-11-04 19:16] nbp commented on #263
When using rust-analysis, you should explicit it as part of the extensions to be included:

[code]

Adding a bad extension name, such as `"foo"` will exit with an error containing the list of available extensions.

[2021-11-05 20:26] piegamesde commented on #265
My target file:

[code]

See also https://rustc-dev-guide.rust-lang.org/building/new-target.html and https://doc.rust-lang.org/rustc/targets/custom.html

[2021-11-07 19:40] Ericson2314 commented on #232
I am a bit confused what is going on, but I made https://github.com/NixOS/nixpkgs/pull/144193/files in part so we could make `toRustTarget` and friends less tied to specific rust packages. I hope that might help going forward.

[2021-11-10 12:58] codelamb opened #270 "Firefox-nightly 96.0a1 fail to start on NixOS 21.05"
...with error message:

`/nix/store/l09zv2zxx1wg4mfrysjnb86yrdx502mf-firefox-bin-96.0a1/bin/.firefox-wrapped: error while loading shared libraries: libstdc++.so.6: cannot open shared object file: No such file or directory
`

configuration.nix follows [guidelines](https://nixos.wiki/wiki/Firefox#Firefox_nightly)
[code]

[2021-11-10 18:21] nbp commented on #270
I was not able to reproduce this issue. The firefox wrapper in Nixpkgs is in charge of providing the dependencies which are used by Firefox. Locally `ldd` reports the following:
[code]

Can you provide `patchelf --print-rpath /nix/store/…/bin/.firefox-wrapped` and `ldd  /nix/store/…/bin/.firefox-wrapped` ?

[2021-11-10 18:27] nbp commented on #270
Ok, I am able to reproduce this issue with the following command:

[code]

So this seems to be specific to `21.05`.

[2021-11-10 18:34] nbp commented on #270
It seems that the latest change I made (commit cf58c4c) caused this problem. Also it seems that Firefox no longer depends on `libXtst`. I will remove this patch.

[2021-11-10 18:41] nbp commented on #270
This was wrong, apparently testing with 21.05, this still seems necessary. So we have to find another way to set the libPath which is compatible with Nixpkgs 21.05.

[2021-11-10 18:41] Artturin commented on #270
backported https://github.com/NixOS/nixpkgs/pull/144259#issuecomment-965134834

[2021-11-11 07:39] codelamb commented on #270
Maybe [this](https://nixos.wiki/wiki/Packaging/Quirks_and_Caveats#ImportError:_libstdc.2B.2B.so.6:_cannot_open_shared_object_file:_No_such_file) could help?
Quote:

[2021-11-13 19:56] codelamb commented on #270
It works now, but only after
`nix-channel --update`
which is probably the way to go.

[2021-11-13 19:56] #270 closed

[2021-11-16 16:09] kvark opened #276 "Should git-cinnabar be included into firefox development overlay?"
`git cinnabar` is required by `./mach try` commands, so I'd argue that it should be included by default.

[2021-11-16 16:12] kvark commented on #276
Also, `less` is expected by default by `git`, so we should include that.

[2021-11-16 23:18] kvark opened #277 "Undefined variable 'phlay'"
Phlay overlay doesn't seem to be working properly.
I have this in `configuration.nix`:
[code]

Then trying to enter a phlay-enabled shell gives me:
[code]

[2021-11-17 10:03] nbp commented on #277
`nix-shell` uses the user overlays in `~/.config/nixpkgs/overlays`, and not what is configured in NixOS.
Thus, the `configuration.nix` has no impact on what the `nix-shell` perceive.

Add a symbolic link to `nixpkgs-mozilla` repository under `~/.config/nixpkgs/overlays`, this should solve this issue.

[2021-11-17 10:03] #277 closed

[2021-11-24 11:16] nbp commented on #265
This overlay works by using the manifest.toml file used by rustup, to provide pre-built version listed in the manifest file. Then they are patched to make these pre-built binary work on NixOS systems.

I am not familiar with adding new targets for Rust. These JSON files seems to be used to compile a custom version of Rust which is not pre-built, as I understand it.

Unfortunately, this overlay onl

[2021-11-24 13:59] piegamesde commented on #265
I understand. Although custom Rust targets do not necessarily mean a recompilation of rustc (in my case, only `std` has to be compiled), this probably won't work nevertheless.

[2021-11-24 13:59] #265 closed

[2021-11-24 15:14] kvark opened #278 "Firefox fails to compile because -fPIC is passed to `as`"
[code]

Doesn't happen all the time, but is a blocker when it does :(

[2021-11-24 15:53] kvark commented on #278
Figured out this only happens when I'm building with this shell on top of the overlay:
[code]
So it's still unclear to me why this configuration spooks Gecko builds, but at least it's not a blocker any more.

[2022-02-05 09:25] colemickens opened #282 "firefox-nightly fails to use vaapi with mesa's radeon driver on NixOS"
see: https://github.com/NixOS/nixpkgs/issues/156126

### Describe the bug

[code]

yet:

[code]

This is using latest firefox nightly from `flake-firefox-nightly` but it's using the same packaging that nixpkgs's bin packaging uses.

This is with nixos-unstable current: 6d8215281b2f87a5af9ed7425a26ac575da0438f

[2022-03-15 20:26] woss opened #287 "given example doesn't work with rust-toolchain.toml files"
Following the example that is given in the README.md
[code]

and my `rust-toolchain.toml`

[code]

fails when I change the `rust-toolchain` to `rust-toolchain.toml` with the following error:
[code]

Then I run it with the show-trace
[code]

I am not well versed in the nix lang so I cannot even debug this. i found this https://github.com/mozilla/nixpkgs-mozilla/pull/281 and thought it should work w

[2022-03-20 19:20] paulyoung opened #288 "`couldn't find remote ref refs/heads/master` when building `/nix/store/<hash>-channel-rust-1.55.0.toml.drv`"
I've been using `rustChannelOf` for a while locally but started encountering an issue when trying to set up a GitHub action.

I appear to be running into https://github.com/NixOS/nix/issues/1923 and wondering how best to work around this.

https://github.com/paulyoung/icfs/runs/5619094846?check_suite_focus=true#step:4:56

[code]

I still don't understand why I'm not running into this locally.

[2022-03-21 00:45] paulyoung commented on #288
I added `--show-trace` which revealed that the problem lies elsewhere.

https://github.com/paulyoung/icfs/runs/5620664497?check_suite_focus=true#step:4:62

[2022-03-21 00:45] #288 closed

[2022-03-21 01:09] paulyoung commented on #288
For anyone who runs into this in future, this was the problem/fix: https://github.com/nix-community/naersk/pull/211

[2022-03-30 11:52] p4block opened #291 "Suddenly can't rebuild anymore because "wrapper called with unexpected argument 'browserName'""
Today I couldn't upgrade my system, maybe because the overlay doesn't apply well anymore, maybe the error was always bound to happen due to how badly I configured my system. My nix-fu is low.

This are my relevant configuration.nix sections:
[code]

Full log:
[code]

[2022-03-30 13:17] marcenuc commented on #291
I think this is a duplicate of #290 or #289

[2022-04-01 09:25] ilya-fedin commented on #291
Yeah, I have the same issue

[2022-04-26 22:02] colemickens opened #293 "Firefox Overlay is still not pure compatible"
I'm doing a cleanup of `flake-firefox-nightly`.

I'm very close to be able to support all variants on x86 + aarch64... but...

the overlay is still very liberal in its use of impure fetching.

**Specifically** while Nightly fetches a signature file and a checksum of that file, for "releases" (beta/stable) it seems that a link out to a GPG key is given.... and then impurely fetched.

It also just p

[2022-04-26 22:05] colemickens commented on #293
Thread renamed to reflect further thoughts as I wrote it out. I feel like the toplevel version info should really, really include the keygrip at the very least of the key that it links to. More ideally it would be the checksum though, so I can juts fix this the way I've fixed it for Nightly.

[2022-04-26 22:26] colemickens opened #295 "How to get aarch64 Firefox Nightly builds?"
Hi,

I am trying to support aarch64 for my NixOS configurations and Firefox Nightly is basically the only thing that I can't really manage to get for 100% alignment.

What would it take to get "linux-aarch64" or "linux-arm64" builds available in the usual Firefox nightly location?

Is there a Matrix room? Or a maybe a Bugzilla tag I should use to ask elsewhere about this?

[2022-04-27 22:28] colemickens commented on #293
Looking at this again, I see now that the key itself is pinned, and the checksums are stored next to a signature file that can be verified with the key. Which seems fine, but is still unfortunate for Nix, I'd have to pre-cache the checksum+checksumSig hashes for each variant. :/

[2022-07-07 17:35] nbp commented on #293
4 things are downloaded:
 - the gpg key (checked using hard coded checksum)
 - the `firefox_versions.json` file. (https only)
 - the checksum file. [beta / release] (verified using the gpg key) [nightly] (https only)
 - the firefox binary. [beta / release] (verified using the verified checksum) [nightly] (verified using the gpg key)

Despite our best effort, this would remain impure as the sha of

[2022-07-28 08:59] zeorin opened #296 "Install different versions of Firefox side by side."
It'd be great to have first-class support in the overlay for installing different versions of Firefox side by side, at the moment this is not possible.

I have the following workaround:

[code]
This changes the binary name (so there's no clash and all can be installed side by side), and overwrites the desktop item definition so that we can actually tell the different versions apart using your Desk

[2022-08-18 16:02] nbp commented on #296
@zeorin I recall we had a live discussion about this topic on Matrix.
Last time we spoke about changing the way the Firefox wrapper is handled in Nixpkgs, as this overlay relies on Nixpkgs wrapper to provide binaries.

I suspect we can close this issue and reference another one in Nixpkgs?

[2022-09-01 22:10] Atemu commented on #282
The issue is long gone, this can be closed now.

[2022-09-01 22:12] #282 closed

[2022-11-08 09:33] yorickvP opened #298 "rustChannelOf doesn't error on argument name typos"
Example: this code changes fixes silently falling back to rust nightly:

![image](https://user-images.githubusercontent.com/647076/200528481-ce6846b8-835f-40dd-a925-f463d8a5f6c4.png)